<div class="Polaris-DropZone-FileUpload {{@class}}" ...attributes>
  {{#if (eq this.size "small")}}
    <PolarisStack @vertical={{true}} @spacing="tight">
      <PolarisIcon
        @color="inkLightest"
        @source={{this.iconDragDrop}}
      />
    </PolarisStack>
  {{else if (eq this.size "medium")}}
    <PolarisStack @vertical={{true}} @spacing="tight">
      <PolarisLink @text={{this.actionTitle}} />
      <PolarisCaption @text={{this.actionHint}} />
    </PolarisStack>
  {{else if (eq this.size "large")}}
    <PolarisStack @vertical={{true}} @spacing="tight">
      {{#if (eq this.type "file")}}
        <img class={{this.imageClasses}} src={{this.fileUpload}} alt="">
      {{else if (eq this.type "image")}}
        <img class={{this.imageClasses}} src={{this.imageUpload}} alt="">
      {{/if}}

      <PolarisButton @size="slim" @text={{this.actionTitle}} />

      <PolarisCaption>
        <PolarisTextStyle @variation="subdued" @text={{this.actionHint}} />
      </PolarisCaption>
    </PolarisStack>
  {{else if (eq this.size "extraLarge")}}
    <PolarisStack @vertical={{true}}>
      {{#if (eq this.type "file")}}
        <img class={{this.imageClasses}} src={{this.fileUpload}} alt="">
      {{else if (eq this.type "image")}}
        <img class={{this.imageClasses}} src={{this.imageUpload}} alt="">
      {{/if}}

      <PolarisButton @text={{this.actionTitle}} />
      <PolarisTextStyle @variation="subdued" @text={{this.actionHint}} />
    </PolarisStack>
  {{/if}}
</div>
