{{#if @day}}
  {{!-- template-lint-disable no-positive-tabindex --}}
  <button
    data-test-date-picker-day
    data-test-date-picker-date={{this.dataTestDatePickerDate}}
    role="gridcell"
    type="button"
    class={{this.dayButtonClasses}}
    tabindex={{this.tabIndex}}
    aria-label={{this.ariaLabel}}
    aria-selected={{this.selected}}
    aria-disabled={{this.disabled}}
    disabled={{this.disabled}}
    {{on "click" (fn this.onClick @day)}}
    {{on "mouseover" (fn this.onHover @day)}}
    {{on "focus" (fn this.onFocus @day)}}
  >
    {{this.date}}
  </button>
{{else}}
  <div data-test-date-picker-day-empty class="Polaris-DatePicker__EmptyDay"></div>
{{/if}}
