<div class="Polaris-DatePicker__Title {{if current 'Polaris-DatePicker__Month--current'}}">
  {{monthDisplayName}} {{year}}
</div>

<div role="rowheader" class="Polaris-DatePicker__WeekHeadings">
  {{#each weekdays as |weekday|}}
    {{polaris-date-picker/weekday
      title=weekday.title
      current=weekday.current
      label=weekday.label
    }}
  {{/each}}
</div>

{{#each weeks as |week|}}
  <div role="row" class="Polaris-DatePicker__Week">
    {{#each week as |day|}}
      {{#if day}}
        {{polaris-date-picker/day
          day=day
          focusedDate=focusedDate
          selectedDates=selected
          disableDatesBefore=disableDatesBefore
          disableDatesAfter=disableDatesAfter
          hoverDate=hoverDate
          allowRange=allowRange
          onFocus=(action onFocus)
          onClick=(action "handleDateClick" day)
          onHover=(action onHover)
        }}
      {{else}}
        <div class="Polaris-DatePicker__EmptyDay"></div>
      {{/if}}
    {{/each}}
  </div>
{{/each}}
