<div class={{this.cssClasses}} ...attributes>
  {{#let (component "polaris-card/section-header") as |Header|}}
    {{#if @title}}
      <Header @title={{@title}} />
    {{/if}}

    {{#if (has-block)}}
      {{yield (hash header=Header Header=Header)}}
    {{else}}
      {{@text}}
    {{/if}}
  {{/let}}
</div>