{{! template-lint-disable no-invalid-interactive }}
<div
  data-test-text-field-spinner
  class="Polaris-TextField__Spinner"
  aria-hidden
  ...attributes
  {{on "click" this.onClick}}
>
  <div
    data-test-text-field-spinner-incr-button
    role="button"
    class="Polaris-TextField__Segment"
    tabindex="-1"
    {{on "click" (fn @onChange 1)}}
    {{on "mousedown" (fn this.handleMouseDown (fn @onChange 1))}}
    {{on "mouseup" this.onMouseUp}}
  >
    <div class="Polaris-TextField__SpinnerIcon">
      <PolarisIcon @source="caret-up" />
    </div>
  </div>

  <div
    data-test-text-field-spinner-decr-button
    role="button"
    class="Polaris-TextField__Segment"
    tabindex="-1"
    {{on "click" (fn @onChange -1)}}
    {{on "mousedown" (fn this.handleMouseDown (fn @onChange -1))}}
    {{on "mouseup" this.onMouseUp}}
  >
    <div class="Polaris-TextField__SpinnerIcon">
      <PolarisIcon @source="caret-down" />
    </div>
  </div>
</div>
