{{#if breadcrumb.url}}
  {{#polaris-unstyled-link
    key=breadcrumb.content
    url=breadcrumb.url
    class="Polaris-Breadcrumbs__Breadcrumb"
    mouseUp=handleMouseUpByBlurring
  }}
    <span class="Polaris-Breadcrumbs__Icon">
      {{polaris-icon source="chevron-left"}}
    </span>
    <span class="Polaris-Breadcrumbs__Content">
      {{breadcrumb.content}}
    </span>
  {{/polaris-unstyled-link}}
{{else}}
  <button
    key={{breadcrumb.content}}
    class="Polaris-Breadcrumbs__Breadcrumb"
    onclick={{action breadcrumb.onAction}}
    onmouseup={{handleMouseUpByBlurring}}
    type="button"
  >
    <span class="Polaris-Breadcrumbs__Icon">
      {{polaris-icon source="chevron-left"}}
    </span>
    <span class="Polaris-Breadcrumbs__Content">
      {{breadcrumb.content}}
    </span>
  </button>
{{/if}}
