{{#if message}}
  <div
    class="Polaris-InlineError"
    id={{concat fieldID "Error"}}
    data-test-inline-error={{data-test-inline-error}}
  >
    <div
      class="Polaris-InlineError__Icon"
      data-test-inline-error-icon={{data-test-inline-error-icon}}
    >
      {{polaris-icon source="alert"}}
    </div>

    {{render-content message}}
  </div>
{{/if}}
