{{#let
  (component "polaris-choice/label"
    inputId=@inputId
    label=@label
    labelHidden=this.labelHidden
    disabled=this.disabled
  )
  as |ChoiceLabel|
}}
  {{#if this.hasDescription}}
    <div>
      <ChoiceLabel ...attributes>
        {{yield}}
      </ChoiceLabel>

      <div class="Polaris-Choice__Descriptions">
        {{#if this.shouldRenderError}}
          <div class="Polaris-Choice__Error">
            <PolarisInlineError @fieldID={{@inputId}} @message={{@error}} />
          </div>
        {{/if}}

        {{#if helpText}}
          <div data-test-choice-help-text class="Polaris-Choice__HelpText" id={{this.helpTextId}}>
            {{render-content @helpText}}
          </div>
        {{/if}}
      </div>
    </div>
  {{else}}
    <ChoiceLabel ...attributes>
      {{yield}}
    </ChoiceLabel>
  {{/if}}
{{/let}}
