<div
  class={{this.cssClasses}}
  aria-label={{this.ariaLabel}}
  role={{this.role}}
  data-test-skeleton-page
  ...attributes
>
  <div
    class="Polaris-SkeletonPage__Header
      {{if @breadcrumbs "Polaris-SkeletonPage__Header--hasBreadcrumbs"}}
      {{if
        this.dummySecondaryActions
        "Polaris-SkeletonPage__Header--hasSecondaryActions"
      }}"
    data-test-skeleton-page-header
  >
    {{#if @breadcrumbs}}
      <div
        class="Polaris-SkeletonPage__BreadcrumbAction"
        style="width: 60px;"
        data-test-skeleton-page-breadcrumbs
      >
        <PolarisSkeletonBodyText
          @lines={{1}}
          data-test-skeleton-page-breadcrumb
        />
      </div>
    {{/if}}

    <div
      data-test-skeleton-page-title-primary-action
      class="Polaris-SkeletonPage__TitleAndPrimaryAction"
    >
      <div data-test-skeleton-page-title class="Polaris-SkeletonPage__Title">
        {{#if this.hasTitle}}
          {{#if this.hasTitleText}}
            <PolarisDisplayText
              data-test-skeleton-page-title-text
              @htmlTag="h1"
              @size="large"
              @text={{or @title ""}}
            />
          {{else}}
            <PolarisSkeletonDisplayText
              data-test-skeleton-page-title-text
              @size="large"
            />
          {{/if}}
        {{/if}}
      </div>

      {{#if @primaryAction}}
        <div
          class="Polaris-SkeletonPage__PrimaryAction"
          data-test-skeleton-page-primary-action
        >
          <PolarisSkeletonDisplayText @size="large" />
        </div>
      {{/if}}
    </div>

    {{#if this.dummySecondaryActions}}
      <div class="Polaris-SkeletonPage__Actions" data-test-skeleton-page-actions>
        {{#each this.dummySecondaryActions}}
          <PolarisSkeletonPage::Action data-test-skeleton-page-action />
        {{/each}}
      </div>
    {{/if}}
  </div>

  <div class="Polaris-SkeletonPage__Content" data-test-skeleton-page-content>
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{@text}}
    {{/if}}
  </div>
</div>
