<div class="
  Polaris-SkeletonPage__Header
  {{if breadcrumbs "Polaris-SkeletonPage__Header--hasBreadcrumbs"}}
  {{if dummySecondaryActions "Polaris-SkeletonPage__Header--hasSecondaryActions"}}
">
  {{#if breadcrumbs}}
    <div class="Polaris-SkeletonPage__Actions">
      {{polaris-skeleton-page/action}}
    </div>
  {{/if}}

  {{#if hasTitle}}
    <div class="Polaris-SkeletonPage__Title">
      {{#if hasTitleText}}
        {{polaris-display-text
          tagName="h1"
          size="large"
          text=title
        }}
      {{else}}
        {{polaris-skeleton-display-text size="large"}}
      {{/if}}
    </div>
  {{/if}}

  {{#if dummySecondaryActions}}
    <div class="Polaris-SkeletonPage__Actions">
      {{#each dummySecondaryActions}}
        {{polaris-skeleton-page/action}}
      {{/each}}
    </div>
  {{/if}}
</div>

<div class="Polaris-SkeletonPage__Content">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
</div>
