{{#with
  (component "polaris-button/content"
    text=text
    primary=primary
    destructive=destructive
    loading=loading
    disclosure=disclosure
    icon=icon
  )
  as |contentComponent|
}}
  {{#if url}}
    {{#if isDisabled}}
      {{!--
        Render an `<a>` so toggling disabled/enabled state changes only the
        `href` attribute instead of replacing the whole element.
      --}}
      <a id={{id}} class={{classes}} aria-label={{accessibilityLabel}} data-test-id={{dataTestId}}>
        {{#if hasBlock}}
          {{#component contentComponent}}
            {{yield}}
          {{/component}}
        {{else}}
          {{component contentComponent}}
        {{/if}}
      </a>
    {{else}}
      {{#polaris-unstyled-link
        dataTestId=dataTestId
        id=id
        url=url
        external=external
        download=download
        onClick=(action onClick)
        focusIn=(action onFocus)
        focusOut=(action onBlur)
        mouseUp=handleMouseUpByBlurring
        class=classes
        ariaLabel=accessibilityLabel
      }}
        {{#if hasBlock}}
          {{#component contentComponent}}
            {{yield}}
          {{/component}}
        {{else}}
          {{component contentComponent}}
        {{/if}}
      {{/polaris-unstyled-link}}
    {{/if}}
  {{else}}
    <button
      data-test-id={{dataTestId}}
      id={{id}}
      type={{type}}
      onclick={{action "invokeMouseAction" "onClick"}}
      onfocus={{action "invokeMouseAction" "onFocus"}}
      onblur={{action "invokeMouseAction" "onBlur"}}
      onkeydown={{action onKeyDown}}
      onkeyup={{action onKeyUp}}
      onkeypress={{action onKeyPress}}
      onmouseup={{handleMouseUpByBlurring}}
      class={{classes}}
      disabled={{isDisabled}}
      aria-label={{accessibilityLabel}}
      aria-controls={{ariaControls}}
      aria-expanded={{ariaExpandedValue}}
      aria-pressed={{ariaPressedValue}}
      role={{if loading "alert"}}
      aria-busy={{if loading "true"}}
    >
      {{#if hasBlock}}
        {{#component contentComponent}}
          {{yield}}
        {{/component}}
      {{else}}
        {{component contentComponent}}
      {{/if}}
    </button>
  {{/if}}
{{/with}}
