<span>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
</span>

<button
  type="button"
  aria-label="Remove"
  class="Polaris-Tag__Button"
  disabled={{disabled}}
  onclick={{action onRemove}}
>
  {{polaris-icon source="cancel"}}
</button>
