<div class="Polaris-Layout {{@class}}" ...attributes>
  {{#if this.sectioned}}
    <PolarisLayout::Section>
      {{#if (has-block)}}
        {{yield
          (hash
            section=(component "polaris-layout/section")
            annotatedSection=(component "polaris-layout/annotated-section")
          )
        }}
      {{else}}
        {{@text}}
      {{/if}}
    </PolarisLayout::Section>
  {{else}}
    {{#if (has-block)}}
      {{yield
        (hash
          section=(component "polaris-layout/section")
          annotatedSection=(component "polaris-layout/annotated-section")
        )
      }}
    {{else}}
      {{@text}}
    {{/if}}
  {{/if}}
</div>