{{#with
  (component
    "polaris-button/content"
    text=this.text
    primary=this.primary
    destructive=this.destructive
    loading=this.loading
    disclosure=this.disclosure
    icon=this.icon
  ) as |Content|
}}
  {{#if this.url}}
    {{#if this.isDisabled}}
      {{!
        Render an `<a>` so toggling disabled/enabled state changes only the
        `href` attribute instead of replacing the whole element.
      }}
      <a
        id={{this.id}}
        class={{this.classes}}
        aria-label={{this.accessibilityLabel}}
        data-test-id={{dataTestId }}
        ...attributes
      >
        {{#if hasBlock}}
          <Content>
            {{yield}}
          </Content>
        {{else}}
          <Content />
        {{/if}}
      </a>
    {{else}}
      <PolarisUnstyledLink
        class={{this.classes}}
        @dataTestId={{@dataTestId}}
        @id={{this.id}}
        @url={{this.url}}
        @external={{this.external}}
        @download={{this.download}}
        @ariaLabel={{this.accessibilityLabel}}
        @onClick={{action this.onClick}}
        @focusIn={{action this.onFocus}}
        @focusOut={{action this.onBlur}}
        @mouseUp={{action this.handleMouseUpByBlurring}}
        ...attributes
      >
        {{#if hasBlock}}
          <Content>
            {{yield}}
          </Content>
        {{else}}
          <Content />
        {{/if}}
      </PolarisUnstyledLink>
    {{/if}}
  {{else}}
    <button
      id={{this.id}}
      type={{this.type}}
      data-test-id={{@dataTestId}}
      class={{this.classes}}
      disabled={{this.isDisabled}}
      aria-label={{this.accessibilityLabel}}
      aria-controls={{this.ariaControls}}
      aria-expanded={{this.ariaExpandedValue}}
      aria-pressed={{this.ariaPressedValue}}
      role={{if this.loading "alert"}}
      aria-busy={{if this.loading "true"}}
      onclick={{action "invokeMouseAction" "onClick"}}
      onfocus={{action "invokeMouseAction" "onFocus"}}
      onblur={{action "invokeMouseAction" "onBlur"}}
      onkeydown={{action this.onKeyDown}}
      onkeyup={{action this.onKeyUp}}
      onkeypress={{action this.onKeyPress}}
      onmouseup={{action this.handleMouseUpByBlurring}}
      ...attributes
    >
      {{#if hasBlock}}
        <Content>
          {{yield}}
        </Content>
      {{else}}
        <Content />
      {{/if}}
    </button>
  {{/if}}
{{/with}}
