<div class={{this.cssClasses}} ...attributes>
  {{#if this.hasHeaderContent}}
    <PolarisPage::Header
      @title={{@title}}
      @titleMetadata={{@titleMetadata}}
      @titleHidden={{@titleHidden}}
      @icon={{@icon}}
      @breadcrumbs={{@breadcrumbs}}
      @separator={{@separator}}
      @secondaryActions={{@secondaryActions}}
      @actionGroups={{@actionGroups}}
      @primaryAction={{@primaryAction}}
      @pagination={{@pagination}}
    />
  {{/if}}

  <div class="Polaris-Page__Content">
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{@text}}
    {{/if}}
  </div>
</div>