{{#polaris-choice
  inputId=_id
  label=label
  labelHidden=labelHidden
  helpText=helpText
  error=error
}}
  <div class="Polaris-Checkbox {{if error "Polaris-Checkbox--error"}}">
    <input
      id={{_id}}
      name={{name}}
      value={{value}}
      type="checkbox"
      checked={{checked}}
      disabled={{disabled}}
      class="Polaris-Checkbox__Input"
      aria-invalid={{if error "true" "false"}}
      aria-describedby={{describedBy}}
      {{action "onChange" on="change"}}
      {{action onFocus on="focusIn"}}
      {{action onBlur on="focusOut"}}
    >

    <div class="Polaris-Checkbox__Backdrop"></div>

    <div class="Polaris-Checkbox__Icon">
      {{polaris-icon source="checkmark"}}
    </div>
  </div>
{{/polaris-choice}}
