<div class={{@class}} ...attributes {{did-insert this.registerStickyItem}}>
  <div {{did-insert this.setPlaceHolderNode}}></div>
  <div {{did-insert this.setStickyNode}} style={{this.style}}>
    {{yield (hash
      isSticky=this.isSticky
    )}}
  </div>
</div>
