{{#if hasStatus}}
  {{#polaris-visually-hidden}}
    {{statusDescription}}
  {{/polaris-visually-hidden}}
{{/if}}

{{#if progressDescription}}
  <span class="Polaris-Badge__Pip">
    {{polaris-visually-hidden text=progressDescription}}
  </span>
{{/if}}

{{#if hasBlock}}
  {{yield}}
{{else}}
  {{text}}
{{/if}}
