<div data-test-date-picker-header class="Polaris-DatePicker__Header">
  <PolarisButton @plain={{true}} @icon="arrow-left" @accessibilityLabel={{previousMonthLabel}} @onClick={{action "handleMonthChangeClick" showPreviousMonth showPreviousYear}} />

  <PolarisButton @plain={{true}} @icon="arrow-right" @accessibilityLabel={{nextMonthLabel}} @onClick={{action "handleMonthChangeClick" showNextMonth showNextYear}} />
</div>

<div data-test-date-picker-month-container class="Polaris-DatePicker__MonthContainer">
  <PolarisDatePicker::Month @month={{month}} @year={{year}} @selected={{polaris-date-picker/derive-range selected}} @disableDatesBefore={{disableDatesBefore}} @disableDatesAfter={{disableDatesAfter}} @allowRange={{allowRange}} @hoverDate={{hoverDate}} @focusedDate={{focusDate}} @weekStartsOn={{weekStartsOn}} @onChange={{action "handleDateSelection"}} @onFocus={{action (mut focusDate)}} @onHover={{action (mut hoverDate)}} />

  {{#if multiMonth}}
    <PolarisDatePicker::Month @month={{showNextMonth}} @year={{showNextYear}} @selected={{polaris-date-picker/derive-range selected}} @disableDatesBefore={{disableDatesBefore}} @disableDatesAfter={{disableDatesAfter}} @allowRange={{allowRange}} @hoverDate={{hoverDate}} @focusedDate={{focusDate}} @weekStartsOn={{weekStartsOn}} @onChange={{action "handleDateSelection"}} @onFocus={{action (mut focusDate)}} @onHover={{action (mut hoverDate)}} />
  {{/if}}
</div>
