<PolarisLabelled
  @id={{this._id}}
  @label={{@label}}
  @error={{@error}}
  @primaryAction={{@labelAction}}
  @labelHidden={{or @labelInline @labelHidden}}
  @helpText={{@helpText}}
>
  <div class={{className}}>
    <select
      data-test-select={{dataTestSelect}}
      class="Polaris-Select__Input"
      id={{this._id}}
      name={{@name}}
      value={{this.value}}
      disabled={{@disabled}}
      aria-invalid={{if this.hasError "true" "false"}}
      aria-describedby={{this.describedBy}}
      {{on "focus" this.onFocus}}
      {{on "blur" this.onBlur}}
      {{on "change" this.handleChange}}
    >
      {{#each this.normalizedOptions as |optionOrGroup|}}
        {{#if (polaris-select/is-group optionOrGroup)}}
          <optgroup label={{optionOrGroup.title}}>
            {{#each optionOrGroup.options as |opt|}}
              <option
                selected={{eq opt.value this.value}}
                value={{opt.value}}
                disabled={{opt.disabled}}
                hidden={{opt.hidden}}
              >
                {{opt.label}}
              </option>
            {{/each}}
          </optgroup>
        {{else}}
          <option
            selected={{eq optionOrGroup.value this.value}}
            value={{optionOrGroup.value}}
            disabled={{optionOrGroup.disabled}}
            hidden={{optionOrGroup.hidden}}
          >
            {{optionOrGroup.label}}
          </option>
        {{/if}}
      {{/each}}
    </select>

    <div class="Polaris-Select__Content" aria-hidden>
      {{#if @labelInline}}
        <span class="Polaris-Select__InlineLabel">
          {{@label}}
        </span>
      {{/if}}

      <span class="Polaris-Select__SelectedOption">
        {{this.selectedOption}}
      </span>

      <span class="Polaris-Select__Icon">
        <PolarisIcon @source="arrow-up-down" />
      </span>
    </div>
    <div class="Polaris-Select__Backdrop"></div>
  </div>
</PolarisLabelled>
