{{#polaris-choice
  inputId=_id
  label=label
  labelHidden=labelHidden
  disabled=disabled
  helpText=helpText
}}
  <span class="Polaris-RadioButton">
    <input
      data-test-radio-button-input
      type="radio"
      class="Polaris-RadioButton__Input"
      id={{_id}}
      name={{name}}
      value={{value}}
      checked={{checked}}
      disabled={{disabled}}
      aria-describedby={{describedBy}}
      onchange={{action onChange value="target.value"}}
      onfocus={{action onFocus}}
      onblur={{action onBlur}}
    >

    <span class="Polaris-RadioButton__Backdrop"></span>
    <span class="Polaris-RadioButton__Icon"></span>
  </span>
{{/polaris-choice}}
