{{#let
  (component
    "polaris-button/content"
    text=@text
    primary=@primary
    destructive=@destructive
    loading=@loading
    disclosure=@disclosure
    icon=@icon
  ) as |Content|
}}
  {{#if @url}}
    {{#if this.isDisabled}}
      {{!
        Render an `<a>` so toggling disabled/enabled state changes only the
        `href` attribute instead of replacing the whole element.
      }}
      {{!-- template-lint-disable link-href-attributes --}}
      <a
        id={{this.id}}
        class={{this.classes}}
        aria-label={{@accessibilityLabel}}
        data-test-id={{@dataTestId}}
        ...attributes
      >
        {{#if hasBlock}}
          <Content>
            {{yield}}
          </Content>
        {{else}}
          <Content />
        {{/if}}
      </a>
    {{else}}
      <PolarisUnstyledLink
        class={{this.classes}}
        id={{this.id}}
        @dataTestId={{@dataTestId}}
        @url={{@url}}
        @external={{@external}}
        @download={{@download}}
        @ariaLabel={{@accessibilityLabel}}
        @onClick={{this.handleClick}}
        @onFocus={{this.onFocus}}
        @onBlur={{this.onBlur}}
        @onMouseUp={{this.handleMouseUpByBlurring}}
        ...attributes
      >
        {{#if hasBlock}}
          <Content>
            {{yield}}
          </Content>
        {{else}}
          <Content />
        {{/if}}
      </PolarisUnstyledLink>
    {{/if}}
  {{else}}
    <button
      id={{this.id}}
      data-test-id={{@dataTestId}}
      class={{this.classes}}
      disabled={{this.isDisabled}}
      type={{if @submit "submit" "button"}}
      role={{if @loading "alert"}}
      aria-busy={{if this.loading "true"}}
      aria-label={{@accessibilityLabel}}
      aria-controls={{@ariaControls}}
      aria-expanded={{if @ariaExpanded "true"}}
      aria-pressed={{if @ariaPressed "true"}}
      {{on "click" (stop-propagation this.handleClick)}}
      {{on "focus" this.onFocus}}
      {{on "blur" this.onBlur}}
      {{on "keydown" this.onKeyDown}}
      {{on "keyup" this.onKeyUp}}
      {{on "keypress" this.onKeyPress}}
      {{on "mouseup" this.handleMouseUpByBlurring}}
      ...attributes
    >
      {{#if hasBlock}}
        <Content>
          {{yield}}
        </Content>
      {{else}}
        <Content />
      {{/if}}
    </button>
  {{/if}}
{{/let}}
