<div class="Polaris-Labelled__LabelWrapper">
  <div class="Polaris-Label">
    <label id="TextField6Label" for={{id}} class="Polaris-Label__Text">{{label}}</label>
  </div>
</div>

{{#if connectedLeft}}
  {{render-content connectedLeft}}
{{/if}}

<div
  class={{textFieldClasses}}
  onfocus={{action handleFocus}}
  onblur={{action handleBlur}}
  onclick={{action handleClick}}
>

  {{#if prefix}}
    <div class="Polaris-TextField__Prefix" id="{{id}}Prefix">
      {{render-content prefix}}
    </div>
  {{/if}}

  {{component input
    id=id
    class="Polaris-TextField__Input"
    aria-labelledby=(concat id "Label")
    aria-invalid="false"
    value=""
  }}

  {{#if suffix}}
    <div class="Polaris-TextField__Suffix" id="{{id}}Suffix">
      {{render-content suffix}}
    </div>
  {{/if}}

  {{#if (and (eq type "number") (not disabled))}}
    {{polaris-text-field/spinner
      onChange=(action "handleNumberChange")
    }}
  {{/if}}

  <div class="Polaris-TextField__Backdrop"></div>

  {{#if multiline}}
    {{polaris-text-field/resizer
      contents=(or value placeholder)
      currentHeight=height
      minimumLines=minimumLines
      onHeightChange=(action "handleExpandingResize")
    }}
  {{/if}}
</div>

{{#if connectedRight}}
  {{render-content connectedRight}}
{{/if}}
