<PolarisLabelled
  data-test-labelled={{this.dataTestTextField}}
  @id={{this.id}}
  @label={{@label}}
  @error={{@error}}
  @primaryAction={{@labelAction}}
  @labelHidden={{labelHidden}}
  @helpText={{@helpText}}
  ...attributes
>
  <PolarisConnected @left={{@connectedLeft}} @right={{@connectedRight}}>
    {{! template-lint-disable no-invalid-interactive }}
    <div
      data-test-text-field-wrapper
      class={{this.textFieldClasses}}
      {{on "focus" this.handleFocus}}
      {{on "blur" this.handleBlur}}
      {{on "click" this.handleClick}}
    >
      {{#if @prefix}}
        <div data-test-text-field-prefix class="Polaris-TextField__Prefix" id="{{this.id}}Prefix">
          {{render-content @prefix}}
        </div>
      {{/if}}

      {{#let (element (if @multiline "textarea" "input")) as |Input|}}
        <Input
          data-test-text-field-input
          type={{unless @multiline this.inputType}}
          style={{if @multiline this.heightStyle}}
          name={{@name}}
          id={{this.id}}
          disabled={{@disabled}}
          readonly={{@readOnly}}
          role={{@role}}
          autofocus={{@autoFocus}}
          placeholder={{@placeholder}}
          autocomplete={{this.autoCompleteInputs}}
          max={{@max}}
          min={{@min}}
          step={{@step}}
          minlength={{@minLength}}
          maxlength={{@maxLength}}
          spellcheck={{@spellCheck}}
          value={{this.normalizedValue}}
          class={{this.inputClassName}}
          aria-multiline={{if @multiline "true" "false"}}
          aria-describedby={{this.ariaDescribedBy}}
          aria-label={{@label}}
          aria-labelledby={{this.ariaLabelledBy}}
          aria-invalid={{if this.ariaInvalid "true" "false"}}
          aria-owns={{@ariaOwns}}
          aria-activedescendant={{@ariaActiveDescendant}}
          aria-autocomplete={{@ariaAutocomplete}}
          aria-controls={{@ariaControls}}
          {{did-insert this.setInput}}
          {{did-update this.handleFocusChange @focused}}
          {{on "input" this.handleChange}}
          {{on "focus" this.onFocus}}
          {{on "blur" this.onBlur}}
          {{on "keypress" this.handleKeyPress}}
        />
      {{/let}}

      {{#if @suffix}}
        <div data-test-text-field-suffix class="Polaris-TextField__Suffix" id="{{this.id}}Suffix">
          {{render-content @suffix}}
        </div>
      {{/if}}

      {{#if @showCharacterCount}}
        <div
          id="{{this.id}}CharacterCounter"
          class={{this.characterCountClassName}}
          aria-label={{this.characterCountLabel}}
          aria-live="polite"
          aria-atomic="true"
          data-test-text-field-character-count
        >
          {{this.characterCountText}}
        </div>
      {{/if}}

      {{#if this.shouldShowSpinner}}
        <PolarisTextField::Spinner
          @onChange={{this.handleNumberChange}}
          @onMouseDown={{this.handleButtonPress}}
          @onMouseUp={{this.handleButtonRelease}}
        />
      {{/if}}

      <div class="Polaris-TextField__Backdrop"></div>

      {{#if @multiline}}
        <PolarisTextField::Resizer
          @contents={{or this.normalizedValue @placeholder}}
          @currentHeight={{this.height}}
          @minimumLines={{this.minimumLines}}
          @onHeightChange={{this.handleExpandingResize}}
        />
      {{/if}}
    </div>
  </PolarisConnected>
</PolarisLabelled>
