{{#polaris-choice
  inputId=_id
  label=label
  labelComponent=labelComponent
  labelHidden=labelHidden
  helpText=helpText
  error=error
  disabled=disabled
}}
  <span class="Polaris-Checkbox {{if error "Polaris-Checkbox--error"}}">
    <input
      data-test-checkbox-input
      data-test-checkbox-input-checked={{isChecked}}
      type="checkbox"
      role="checkbox"
      id={{_id}}
      name={{name}}
      value={{value}}
      checked={{isChecked}}
      disabled={{disabled}}
      class={{checkboxClasses}}
      aria-checked={{checkedState}}
      aria-invalid={{if error "true" "false"}}
      aria-describedby={{describedBy}}
      indeterminate={{if isIndeterminate "true"}}
      onchange={{action "handleChange"}}
      onfocus={{action onFocus}}
      onblur={{action onBlur}}
    >

    <span class="Polaris-Checkbox__Backdrop"></span>

    <span class="Polaris-Checkbox__Icon">
      {{polaris-icon source=(if isIndeterminate "subtract" "checkmark")}}
    </span>
  </span>
{{/polaris-choice}}
