{{#if @url}}
  <PolarisUnstyledLink
    class={{this.linkClass}}
    @url={{@url}}
    @external={{@external}}
    @onClick={{this.handleClick}}
  >
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{@text}}
    {{/if}}
  </PolarisUnstyledLink>
{{else}}
  <button
    type="button"
    class={{this.linkClass}}
    {{on "click" (stop-propagation this.handleClick)}}
  >
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{@text}}
    {{/if}}
  </button>
{{/if}}
