{{#if @url}}
  <PolarisUnstyledLink
    class={{this.linkClass}}
    @url={{@url}}
    @external={{@external}}
    @onClick={{fn (or @onClick this.onClick)}}
  >
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{@text}}
    {{/if}}
  </PolarisUnstyledLink>
{{else}}
  <button
    type="button"
    class={{this.linkClass}}
    {{on "click" (stop-propagation (or @onClick this.onClick))}}
  >
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{@text}}
    {{/if}}
  </button>
{{/if}}
