{{#let (if @label
  (component "polaris-labelled")
  (component "wrapper-element" tagName="")
) as |Wrapper|}}
  <Wrapper
    @id={{@id}}
    @label={{@label}}
    @labelHidden={{@labelHidden}}
    @primaryAction={{@labelAction}}
  >
    <div
      data-test-drop-zone
      class={{this.dropZoneClasses}}
      aria-disabled={{if @disabled "true"}}
      role="button"
      {{on "click" this.handleClick}}
      {{on "dragstart" this.handleDragStart}}
      {{did-insert this.setNode}}
      {{did-insert this.setupEvents}}
      {{did-insert this.triggerFileDialog this.openFileDialog}}
      {{did-update this.triggerFileDialog this.openFileDialog}}
      ...attributes
    >
      {{#if this.showDragOverlay}}
        <div data-test-drop-zone-overlay class="Polaris-DropZone__Overlay">
          <PolarisStack @vertical={{true}} @spacing="tight">
            <PolarisIcon @color="indigo" @source={{this.iconDragDrop}} />

            {{#if (eq this.state.size "extraLarge")}}
              <PolarisDisplayText
                @size="small"
                @htmlTag="p"
                @text={{this.state.overlayText}}
              />
            {{else if (or (eq this.state.size "medium") (eq this.state.size "large"))}}
              <PolarisCaption @text={{this.state.overlayText}} />
            {{/if}}
          </PolarisStack>
        </div>
      {{/if}}

      {{#if (and this.state.dragging this.state.error)}}
        <div data-test-drop-zone-overlay class="Polaris-DropZone__Overlay">
          <PolarisStack @vertical={{true}} @spacing="tight">
            <PolarisIcon @color="red" @source={{this.iconAlertCircle}} />

            {{#if (eq this.state.size "extraLarge")}}
              <PolarisDisplayText
                @size="small"
                @htmlTag="p"
                @text={{this.state.errorOverlayText}}
              />
            {{else if (or (eq this.state.size "medium") (eq this.state.size "large"))}}
              <PolarisCaption @text={{this.state.errorOverlayText}} />
            {{/if}}
          </PolarisStack>
        </div>
      {{/if}}

      <div data-test-drop-zone-container class="Polaris-DropZone__Container">
        {{yield
          (hash
            fileUpload=(component "polaris-drop-zone/file-upload"
              context=(hash
                type=(readonly this.state.type)
                size=(readonly this.state.size)
              )
            )
          )
        }}
      </div>

      <PolarisVisuallyHidden>
        {{!-- template-lint-disable no-nested-interactive --}}
        <input
          data-test-drop-zone-hidden-input
          type="file"
          autocomplete="off"
          id="{{this.state.id}}-input"
          accept={{@accept}}
          disabled={{@disabled}}
          multiple={{this.allowMultiple}}
          {{did-insert (action (mut this.fileInputNode))}}
          {{on "change" this.handleDrop}}
        >
      </PolarisVisuallyHidden>
    </div>
  </Wrapper>
{{/let}}
