{{#if message}}
  <div
    class="Polaris-InlineError"
    id={{concat fieldID "Error"}}
    data-test-inline-error={{dataTestInlineError}}
  >
    <div
      class="Polaris-InlineError__Icon"
      data-test-inline-error-icon={{dataTestInlineErrorIcon}}
    >
      {{polaris-icon source="alert"}}
    </div>

    {{render-content message}}
  </div>
{{/if}}
