{{#if url}}
  {{#polaris-unstyled-link
    url=url
    class=linkClass
    external=external
    onClick=(action onClick)
  }}
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{text}}
    {{/if}}
  {{/polaris-unstyled-link}}
{{else}}
  <button class={{linkClass}} {{action (action onClick) bubbles=false}}>
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{text}}
    {{/if}}
  </button>
{{/if}}
