{{#polaris-card sectioned=true}}
  <div class="Polaris-CalloutCard">
    <div class="Polaris-CalloutCard__Content">
      <div class="Polaris-CalloutCard__Title">
        {{polaris-heading text=title}}
      </div>

      {{#polaris-text-container}}
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{text}}
        {{/if}}
      {{/polaris-text-container}}

      <div class="Polaris-CalloutCard__Buttons">
        {{#with (component "polaris-button"
          text=primaryAction.text
          onClick=(action primaryAction.onAction))
          as |primaryButton|
        }}
          {{#if secondaryAction}}
            {{#polaris-button-group}}
              {{component primaryButton}}

              {{polaris-button
                plain=true
                text=secondaryAction.text
                onClick=(action secondaryAction.onAction)
              }}
            {{/polaris-button-group}}
          {{else}}
            {{component primaryButton}}
          {{/if}}
        {{/with}}
      </div>
    </div>

    <img src={{illustration}} alt="" class="Polaris-CalloutCard__Image">
  </div>
{{/polaris-card}}
