{{#with
  (component "polaris-choice/label"
    inputId=inputId
    label=label
    labelComponent=labelComponent
    labelHidden=labelHidden
    disabled=disabled
  )
  as |choiceLabelComponent|
}}
  {{#if hasDescription}}
    <div>
      {{#component choiceLabelComponent}}
        {{yield}}
      {{/component}}

      <div class="Polaris-Choice__Descriptions">
        {{#if shouldRenderError}}
          <div class="Polaris-Choice__Error">
            {{polaris-inline-error
              fieldID=inputId
              message=error
            }}
          </div>
        {{/if}}

        {{#if helpText}}
          <div data-test-choice-help-text class="Polaris-Choice__HelpText" id={{helpTextId}}>
            {{render-content helpText}}
          </div>
        {{/if}}
      </div>
    </div>
  {{else}}
    {{#component choiceLabelComponent}}
      {{yield}}
    {{/component}}
  {{/if}}
{{/with}}
