<PolarisCard @sectioned={{true}} ...attributes>
  <div class="Polaris-SettingAction">
    <div class="Polaris-SettingAction__Setting">
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{@text}}
      {{/if}}
    </div>

    <div class="Polaris-SettingAction__Action">
      {{#if this.mainAction}}
        <PolarisButton
          @text={{this.mainAction.text}}
          @disabled={{this.mainAction.disabled}}
          @loading={{this.mainAction.loading}}
          @primary={{@enabled}}
          @onClick={{fn this.fireAction this.mainAction}}
        />
      {{/if}}
    </div>
  </div>
</PolarisCard>
