<a
  data-polaris-unstyled="true"
  data-test={{@dataTestId}}
  class={{@class}}
  href={{@url}}
  download={{@download}}
  tabindex={{@tabIndex}}
  aria-label={{@ariaLabel}}
  aria-describedby={{@ariaDescribedBy}}
  target={{this.target}}
  rel={{this.rel}}
  {{on "click" this.handleClick}}
  {{on "focus" this.onFocus}}
  {{on "blur" this.onBlur}}
  {{on "mouseup" this.onMouseUp}}
  ...attributes
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
</a>
