{{#if title}}
  {{#if headerActions}}
    <div class="Polaris-Card__Header">
      {{#polaris-stack alignment="baseline" as |stack|}}
        {{#stack.item fill=true}}
          {{polaris-heading text=title}}
        {{/stack.item}}

        {{#polaris-button-group as |buttonGroup|}}
          {{#each headerActions as |headerAction|}}
            {{#buttonGroup.item plain=true}}
              {{polaris-button
                plain=true
                text=headerAction.text
                disabled=headerAction.disabled
                onClick=(action headerAction.onAction)
              }}
            {{/buttonGroup.item}}
          {{/each}}
        {{/polaris-button-group}}
      {{/polaris-stack}}
    </div>
  {{else}}
    <div class="Polaris-Card__Header">
      {{polaris-heading text=title}}
    </div>
  {{/if}}
{{/if}}

{{#with (component "polaris-card/section") as |section|}}
  {{#if sectioned}}
    {{#component section}}
      {{#if hasBlock}}
        {{yield (hash
          section=section
        )}}
      {{else}}
        {{text}}
      {{/if}}
    {{/component}}
  {{else}}
    {{#if hasBlock}}
      {{yield (hash
        section=section
      )}}
    {{else}}
      {{text}}
    {{/if}}
  {{/if}}
{{/with}}
