<span>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
</span>

<button
  type="button"
  class="Polaris-Tag__Button"
  aria-label={{buttonLabel}}
  disabled={{disabled}}
  onclick={{action onRemove}}
  onmouseup={{action handleMouseUpByBlurring}}
>
  {{polaris-icon source="cancel-small"}}
</button>
