<nav
  aria-label={{this.accessibilityLabel}}
  class="Polaris-Pagination {{@class}} {{if @plain "Polaris-Pagination--plain"}}"
  ...attributes
>
  <button
    data-test-prev-btn="true"
    class="Polaris-Pagination__Button"
    aria-label="Previous"
    type="button"
    disabled={{this.isPreviousDisabled}}
    {{on "click" (or @onPrevious this.onPrevious)}}
    {{on "mouseup" this.handleMouseUpByBlurring}}
  >
    <PolarisIcon @source="arrow-left" />
  </button>

  <button
    data-test-next-btn="true"
    class="Polaris-Pagination__Button"
    aria-label="Next"
    type="button"
    disabled={{this.isNextDisabled}}
    {{on "click" (or @onNext this.onNext)}}
    {{on "mouseup" this.handleMouseUpByBlurring}}
  >
    <PolarisIcon @source="arrow-right" />
  </button>

  {{#if this.isPreviousKeyListenerEnabled}}
    {{#each @previousKeys as |key|}}
      {{on-key key @onPrevious event="keyup"}}
    {{/each}}
  {{/if}}

  {{#if this.isNextKeyListenerEnabled}}
    {{#each @nextKeys as |key|}}
      {{on-key key @onNext event="keyup"}}
    {{/each}}
  {{/if}}
</nav>
