{{#if breadcrumb.url}}
  <PolarisUnstyledLink
    class="Polaris-Breadcrumbs__Breadcrumb"
    @url={{breadcrumb.url}}
    @onMouseUp={{handleMouseUpByBlurring}}
  >
    <span data-test-breadcrumb-icon class="Polaris-Breadcrumbs__Icon">
      {{polaris-icon source="chevron-left"}}
    </span>
    <span data-test-breadcrumb-content class="Polaris-Breadcrumbs__Content">
      {{breadcrumb.content}}
    </span>
  </PolarisUnstyledLink>
{{else}}
  <button
    class="Polaris-Breadcrumbs__Breadcrumb"
    type="button"
    onmouseup={{handleMouseUpByBlurring}}
    {{action breadcrumb.onAction}}
  >
    <span data-test-breadcrumb-icon class="Polaris-Breadcrumbs__Icon">
      {{polaris-icon source="chevron-left"}}
    </span>
    <span data-test-breadcrumb-content class="Polaris-Breadcrumbs__Content">
      {{breadcrumb.content}}
    </span>
  </button>
{{/if}}
