<div
  class="Polaris-ColorPicker {{@class}}"
  {{did-insert this.setPickerSize}}
  ...attributes
>
  <div class="Polaris-ColorPicker__MainColor">
    <div class="Polaris-ColorPicker__ColorLayer" style={{this.colorLayerStyle}}></div>
    <PolarisColorPicker::Slidable
      @draggerX={{this.draggerX}}
      @draggerY={{this.draggerY}}
      @onChange={{fn this.draggerMoved}}
    />
  </div>

  <PolarisColorPicker::HuePicker
    @hue={{@color.hue}}
    @onChange={{fn this.handleHueChange}}
  />

  {{#if @allowAlpha}}
    <PolarisColorPicker::AlphaPicker
      @color={{@color}}
      @alpha={{@color.alpha}}
      @onChange={{fn this.handleAlphaChange}}
    />
  {{/if}}
</div>
