<button class="Polaris-Pagination__Button" aria-label="Previous" disabled={{isPreviousDisabled}} {{action (action onPrevious)}}>
  {{polaris-icon source="arrow-left"}}
</button>

<button class="Polaris-Pagination__Button" aria-label="Next" disabled={{isNextDisabled}} {{action (action onNext)}}>
  {{polaris-icon source="arrow-right"}}
</button>
