{{#if (or left right)}}
  <div class="Polaris-Connected">
    {{#if left}}
      <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
        {{render-content left}}
      </div>
    {{/if}}

    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
      {{yield}}
    </div>

    {{#if right}}
      <div class="Polaris-Connected__Item Polaris-Connected__Item--connection">
        {{render-content right}}
      </div>
    {{/if}}
  </div>
{{else}}
  {{yield}}
{{/if}}
