{{#polaris-labelled
  id=id
  label=label
  error=error
  action=labelAction
  labelHidden=labelHidden
  helpText=helpText
}}

  {{#polaris-connected
    left=connectedLeft
    right=connectedRight
  }}

    {{! template-lint-disable invalid-interactive }}
    <div
      class={{textFieldClasses}}
      onfocus={{action "handleFocus"}}
      onblur={{action "handleBlur"}}
      onclick={{action "handleClick"}}
    >

      {{#if prefix}}
        <div class="Polaris-TextField__Prefix" id="{{id}}Prefix">
          {{render-content prefix}}
        </div>
      {{/if}}

      {{#with
        (component "wrapper-element"
          name=name
          id=id
          disabled=disabled
          readonly=readOnly
          autofocus=autoFocus
          placeholder=placeholder
          onfocus=(action onFocus)
          onblur=(action onBlur)
          autocomplete=(if autoComplete "on" "off")
          class="Polaris-TextField__Input"
          onchange=(action "handleChange")
          minlength=minLength
          maxlength=maxLength
          spellcheck=spellCheck
          aria-describedby=ariaDescribedBy
          aria-labelledby=ariaLabelledBy
          aria-invalid=ariaInvalid
          value=value
        ) as |inputElement|
      }}
        {{#if multiline}}
          {{component inputElement
            tagName="textarea"
            style=heightStyle
          }}
        {{else}}
          {{component inputElement
            tagName="input"
            type=inputType
            max=max
            min=min
          }}
        {{/if}}
      {{/with}}

      {{#if suffix}}
        <div class="Polaris-TextField__Suffix" id="{{id}}Suffix">
          {{render-content suffix}}
        </div>
      {{/if}}

      {{#if shouldShowSpinner}}
        {{polaris-text-field/spinner
          onChange=(action "handleNumberChange")
        }}
      {{/if}}

      <div class="Polaris-TextField__Backdrop"></div>

      {{#if multiline}}
        {{polaris-text-field/resizer
          contents=(or value placeholder)
          currentHeight=height
          minimumLines=minimumLines
          onHeightChange=(action "handleExpandingResize")
        }}
      {{/if}}
    </div>
  {{/polaris-connected}}
{{/polaris-labelled}}
