<div
  data-test-stack={{true}}
  class={{this.classes}}
  {{did-insert this.setupAutoWrapper}}
  {{will-destroy this.teardownAutoWrapper}}
  ...attributes
>
  {{#if hasBlock}}
    {{yield (hash item=(component "polaris-stack/item"))}}
  {{else}}
    {{text}}
  {{/if}}
</div>
