{{#polaris-labelled
  dataTestLabelled=dataTestTextField
  id=id
  label=label
  error=error
  action=labelAction
  labelHidden=labelHidden
  helpText=helpText
}}

  {{#polaris-connected
    left=connectedLeft
    right=connectedRight
  }}
    {{! template-lint-disable invalid-interactive }}
    <div
      data-test-text-field-wrapper
      class={{textFieldClasses}}
      onfocus={{action "handleFocus"}}
      onblur={{action "handleBlur"}}
      onclick={{action "handleClick"}}
    >

      {{#if prefix}}
        <div data-test-text-field-prefix class="Polaris-TextField__Prefix" id="{{id}}Prefix">
          {{render-content prefix}}
        </div>
      {{/if}}

      {{! template-lint-disable attribute-indentation }}
      {{!-- TODO remove rule above once linter handles this correctly --}}
      {{#with
        (component "wrapper-element"
          data-test-text-field-input=true
          name=name
          id=id
          disabled=disabled
          readonly=readOnly
          role=role
          autofocus=autoFocus
          placeholder=placeholder
          autocomplete=autoCompleteInputs
          max=max
          min=min
          step=step
          minlength=minLength
          maxlength=maxLength
          spellcheck=spellCheck
          value=normalizedValue
          class=inputClassName
          aria-describedby=ariaDescribedBy
          aria-label=label
          aria-labelledby=ariaLabelledBy
          aria-invalid=ariaInvalid
          aria-owns=ariaOwns
          aria-activedescendant=ariaActiveDescendant
          aria-autocomplete=ariaAutocomplete
          aria-controls=ariaControls
          oninput=(action "handleChange")
          onfocus=(action onFocus)
          onblur=(action onBlur)
          onkeypress=(action "handleKeyPress")
        )
        as |inputElement|
      }}
        {{#if multiline}}
          {{component
            inputElement
            tagName="textarea"
            aria-multiline=true
            style=heightStyle
          }}
        {{else}}
          {{component
            inputElement
            tagName="input"
            type=inputType
          }}
        {{/if}}
      {{/with}}

      {{#if suffix}}
        <div data-test-text-field-suffix class="Polaris-TextField__Suffix" id="{{id}}Suffix">
          {{render-content suffix}}
        </div>
      {{/if}}

      {{#if showCharacterCount}}
        <div
          id={{concat id "CharacterCounter"}}
          class={{characterCountClassName}}
          aria-label={{characterCountLabel}}
          aria-live="polite"
          aria-atomic="true"
          data-test-text-field-character-count
        >
          {{characterCountText}}
        </div>
      {{/if}}

      {{#if shouldShowSpinner}}
        {{polaris-text-field/spinner
          onChange=(action "handleNumberChange")
          onMouseDown=(action handleButtonPress)
          onMouseUp=(action handleButtonRelease)
        }}
      {{/if}}

      <div class="Polaris-TextField__Backdrop"></div>

      {{#if multiline}}
        {{polaris-text-field/resizer
          contents=(or normalizedValue placeholder)
          currentHeight=height
          minimumLines=minimumLines
          onHeightChange=(action "handleExpandingResize")
        }}
      {{/if}}
    </div>
  {{/polaris-connected}}
{{/polaris-labelled}}
