{{#if statusDescription}}
  {{polaris-visually-hidden text=statusDescription}}
{{/if}}

{{#if progressDescription}}
  <span class="Polaris-Badge__Pip">
    {{polaris-visually-hidden text=progressDescription}}
  </span>
{{/if}}

{{#if hasBlock}}
  {{yield}}
{{else}}
  {{text}}
{{/if}}
