<button
  data-test-prev-btn="true"
  class="Polaris-Pagination__Button"
  aria-label="Previous"
  disabled={{isPreviousDisabled}}
  onclick={{action onPrevious}}
  onmouseup={{handleMouseUpByBlurring}}
>
  {{polaris-icon source="arrow-left"}}
</button>

<button
  data-test-next-btn="true"
  class="Polaris-Pagination__Button"
  aria-label="Next"
  disabled={{isNextDisabled}}
  onclick={{action onNext}}
  onmouseup={{handleMouseUpByBlurring}}
>
  {{polaris-icon source="arrow-right"}}
</button>

{{#if isPreviousKeyListenerEnabled}}
  {{#each previousKeys as |key|}}
    {{key-event-listener
      key=key
      onKeyUp=(action onPrevious)
    }}
  {{/each}}
{{/if}}

{{#if isNextKeyListenerEnabled}}
  {{#each nextKeys as |key|}}
    {{key-event-listener
      key=key
      onKeyUp=(action onNext)
    }}
  {{/each}}
{{/if}}
