<span data-test-tag-text title={{tagText}} class="Polaris-Tag__TagText">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
</span>

<button
  data-test-tag-button
  type="button"
  class="Polaris-Tag__Button"
  aria-label={{buttonLabel}}
  disabled={{disabled}}
  onclick={{action onRemove}}
  onmouseup={{action handleMouseUpByBlurring}}
>
  {{polaris-icon
    data-test-tag-button-icon=true
    source="cancel-small"
  }}
</button>
