<PolarisChoice
  @inputId={{this._id}}
  @label={{@label}}
  @labelHidden={{this.labelHidden}}
  @helpText={{@helpText}}
  @error={{@error}}
  @disabled={{this.disabled}}
  ...attributes
>
  <span class="Polaris-Checkbox {{if @error "Polaris-Checkbox--error"}}">
    <input
      data-test-checkbox-input
      data-test-checkbox-input-checked={{this.isChecked}}
      type="checkbox"
      role="checkbox"
      id={{this._id}}
      name={{name}}
      value={{value}}
      checked={{this.isChecked}}
      disabled={{this.disabled}}
      class={{this.checkboxClasses}}
      aria-checked={{this.checkedState}}
      aria-invalid={{if @error "true" "false"}}
      aria-describedby={{this.describedBy}}
      indeterminate={{if this.isIndeterminate "true"}}
      onchange={{this.handleChange}}
      onfocus={{this.onFocus}}
      onblur={{this.onBlur}}
    >

    <span class="Polaris-Checkbox__Backdrop"></span>

    <span class="Polaris-Checkbox__Icon">
      <PolarisIcon @source={{if this.isIndeterminate "subtract" "checkmark"}} />
    </span>
  </span>
</PolarisChoice>
