<div class="Polaris-Card {{@class}}" ...attributes>
  <div class="Polaris-CalloutCard__Container">
    {{#if @onDismiss}}
      <div class="Polaris-CalloutCard__Dismiss">
        <PolarisButton
          @plain={{true}}
          @icon="cancel-small"
          @accessibilityLabel="Dismiss card"
          @onClick={{@onDismiss}}
        />
      </div>
    {{/if}}

    <PolarisCard::Section>
      <div class="Polaris-CalloutCard">
        <div class="Polaris-CalloutCard__Content">
          <div class="Polaris-CalloutCard__Title">
            <PolarisHeading @text={{@title}} />
          </div>

          <PolarisTextContainer>
            {{#if (has-block)}}
              {{yield}}
            {{else}}
              {{@text}}
            {{/if}}
          </PolarisTextContainer>

          <div class="Polaris-CalloutCard__Buttons">
            {{#let
              (component "polaris-button"
                text=@primaryAction.text
                accessibilityLabel=@primaryAction.accessibilityLabel
                disabled=@primaryAction.disabled
                primary=@primaryAction.primary
                destructive=@primaryAction.destructive
                icon=@primaryAction.icon
                loading=@primaryAction.loading
                onClick=@primaryAction.onAction
              )
              as |PrimaryButton|
            }}
              {{#if @secondaryAction}}
                <PolarisButtonGroup>
                  <PrimaryButton />

                  <PolarisButton
                    @plain={{true}}
                    @text={{@secondaryAction.text}}
                    @accessibilityLabel={{@secondaryAction.accessibilityLabel}}
                    @disabled={{@secondaryAction.disabled}}
                    @icon={{@secondaryAction.icon}}
                    @loading={{@secondaryAction.loading}}
                    @onClick={{@secondaryAction.onAction}}
                  />
                </PolarisButtonGroup>
              {{else}}
                <PrimaryButton />
              {{/if}}
            {{/let}}
          </div>
        </div>

        <img
          alt=""
          class="Polaris-CalloutCard__Image {{if @onDismiss "Polaris-CalloutCard__DismissImage"}}"
          src={{@illustration}}
        >
      </div>
    </PolarisCard::Section>
  </div>
</div>
