<div class="Polaris-FooterHelp {{@class}}" ...attributes>
  <div class="Polaris-FooterHelp__Content">
    <div class="Polaris-FooterHelp__Icon">
      <PolarisIcon @source="help" @color="teal" @backdrop={{true}} />
    </div>

    <div class="Polaris-FooterHelp__Text">
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{@text}}
      {{/if}}
    </div>
  </div>
</div>
