<div
  data-test-label
  class="Polaris-Label {{if @hidden "Polaris-Label--hidden"}}"
  ...attributes
>
  <label id={{this.labelId}} htmlFor={{@id}} class="Polaris-Label__Text">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{render-content @text}}
    {{/if}}
  </label>
</div>
