{{!-- template-lint-disable no-invalid-interactive --}}
<div
  class="Polaris-DatePicker {{@class}}"
  data-test-date-picker
  ...attributes
  {{did-update this.handleSelectedUpdate @selected}}
  {{on "keyup" this.handleKeyUp}}
  {{on "keydown" this.handleKeyDown}}
>
  <div data-test-date-picker-header class="Polaris-DatePicker__Header">
    <PolarisButton
      @plain={{true}}
      @icon="arrow-left"
      @accessibilityLabel={{this.previousMonthLabel}}
      @onClick={{fn this.handleMonthChangeClick this.showPreviousMonth this.showPreviousYear}}
    />

    <PolarisButton
      @plain={{true}}
      @icon="arrow-right"
      @accessibilityLabel={{this.nextMonthLabel}}
      @onClick={{fn this.handleMonthChangeClick this.showNextMonth this.showNextYear}}
    />
  </div>

  <div data-test-date-picker-month-container class="Polaris-DatePicker__MonthContainer">
    <PolarisDatePicker::Month
      @month={{@month}}
      @year={{@year}}
      @selected={{polaris-date-picker/derive-range @selected}}
      @disableDatesBefore={{@disableDatesBefore}}
      @disableDatesAfter={{@disableDatesAfter}}
      @allowRange={{this.allowRange}}
      @hoverDate={{this.hoverDate}}
      @focusedDate={{this.focusDate}}
      @weekStartsOn={{this.weekStartsOn}}
      @onChange={{this.handleDateSelection}}
      @onFocus={{fn (mut this.focusDate)}}
      @onHover={{fn (mut this.hoverDate)}}
    />

    {{#if @multiMonth}}
      <PolarisDatePicker::Month
        @month={{this.showNextMonth}}
        @year={{this.showNextYear}}
        @selected={{polaris-date-picker/derive-range @selected}}
        @disableDatesBefore={{@disableDatesBefore}}
        @disableDatesAfter={{@disableDatesAfter}}
        @allowRange={{this.allowRange}}
        @hoverDate={{this.hoverDate}}
        @focusedDate={{this.focusDate}}
        @weekStartsOn={{this.weekStartsOn}}
        @onChange={{fn this.handleDateSelection}}
        @onFocus={{fn (mut this.focusDate)}}
        @onHover={{fn (mut this.hoverDate)}}
      />
    {{/if}}
  </div>
</div>
