{{#if this.hasConnection}}
  <div class="Polaris-Connected" data-test-connected={{this.dataTestConnected}} ...attributes>
    {{#if @left}}
      <PolarisConnected::Item data-test-connected-item="left" @position="left">
        {{render-content @left}}
      </PolarisConnected::Item>
    {{/if}}

    <PolarisConnected::Item data-test-connected-item="primary" @position="primary">
      {{yield}}
    </PolarisConnected::Item>

    {{#if @right}}
      <PolarisConnected::Item data-test-connected-item="right" @position="right">
        {{render-content @right}}
      </PolarisConnected::Item>
    {{/if}}
  </div>
{{else}}
  {{yield}}
{{/if}}
