{{#polaris-choice
  inputId=_id
  label=label
  labelHidden=labelHidden
  helpText=helpText
}}
  <div class="Polaris-RadioButton">
    <input
      type="radio"
      class="Polaris-RadioButton__Input"
      id={{_id}}
      name={{name}}
      value={{value}}
      checked={{checked}}
      disabled={{disabled}}
      aria-describedby={{describedBy}}
      onchange={{action onChange value="target.value"}}
      onfocus={{action onFocus}}
      onblur={{action onBlur}}
    >

    <div class="Polaris-RadioButton__Backdrop"></div>
    <div class="Polaris-RadioButton__Icon"></div>
  </div>
{{/polaris-choice}}
