{{! template-lint-disable no-invalid-interactive }}

{{#with (if this.label
  (component "polaris-labelled"
    id=this.id
    label=this.label
    labelHidden=this.labelHidden
    action=this.labelAction
  )
  (component "wrapper-element" tagName="")
) as |Wrapper|}}
  <Wrapper>
    <div
      data-test-drop-zone
      class={{this.dropZoneClasses}}
      aria-disabled={{this.ariaDisabled}}
      onclick={{action "handleClick"}}
      ondragstart={{action "handleDragStart"}}
      {{did-insert this.setNode}}
      {{did-insert this.setupEvents}}
      ...attributes
    >
      {{#if this.showDragOverlay}}
        <div data-test-drop-zone-overlay class="Polaris-DropZone__Overlay">
          <PolarisStack @vertical={{true}} @spacing="tight">
            <PolarisIcon @color="indigo" @source={{this.iconDragDrop}} />

            {{#if (eq this.state.size "extraLarge")}}
              <PolarisDisplayText
                @size="small"
                @tagName="p"
                @text={{this.state.overlayText}}
              />
            {{else if (or (eq this.state.size "medium") (eq this.state.size "large"))}}
              <PolarisCaption @text={{this.state.overlayText}} />
            {{/if}}
          </PolarisStack>
        </div>
      {{/if}}

      {{#if (and this.state.dragging this.state.error)}}
        <div data-test-drop-zone-overlay class="Polaris-DropZone__Overlay">
          <PolarisStack @vertical={{true}} @spacing="tight">
            <PolarisIcon @color="red" @source={{this.iconAlertCircle}} />

            {{#if (eq this.state.size "extraLarge")}}
              <PolarisDisplayText
                @size="small"
                @tagName="p"
                @text={{this.state.errorOverlayText}}
              />
            {{else if (or (eq this.state.size "medium") (eq this.state.size "large"))}}
              <PolarisCaption @text={{this.state.errorOverlayText}} />
            {{/if}}
          </PolarisStack>
        </div>
      {{/if}}

      <div data-test-drop-zone-container class="Polaris-DropZone__Container">
        {{yield
          (hash
            fileUpload=(component "polaris-drop-zone/file-upload"
              context=(hash
                type=(readonly this.state.type)
                size=(readonly this.state.size)
              )
            )
          )
        }}
      </div>

      <PolarisVisuallyHidden>
        <input
          data-test-drop-zone-hidden-input
          type="file"
          autocomplete="off"
          id="{{this.state.id}}-input"
          accept={{this.accept}}
          disabled={{this.disabled}}
          multiple={{this.allowMultiple}}
          onchange={{action this.handleDrop}}
        >
      </PolarisVisuallyHidden>
    </div>
  </Wrapper>
{{/with}}
