{{#if hasBlock}}
  <span>
    {{yield}}
  </span>

  <button
    type="button"
    aria-label="Remove"
    class="Polaris-Tag__Button"
    onclick={{action 'remove'}}
  >

    {{polaris-icon source="cancel"}}

  </button>
{{else}}
  <span>
    {{tag}}
  </span>

  <button
    type="button"
    aria-label="Remove"
    class="Polaris-Tag__Button"
    onclick={{action 'remove'}}
  >

    {{polaris-icon source="cancel"}}

  </button>
{{/if}}
