<div
  class="Polaris-Card {{@class}} {{if @subdued "Polaris-Card--subdued"}}"
  ...attributes
>
  {{#if (or @title @headerActions)}}
    {{! TODO: check for children here as per the React implementation. }}
    {{#if @headerActions}}
      <div class="Polaris-Card__Header">
        <PolarisStack @alignment="baseline" as |stack|>
          <stack.item @fill={{true}}>
            {{#if (is-component-definition @title)}}
              {{render-content @title}}
            {{else}}
              <PolarisHeading @text={{@title}} />
            {{/if}}
          </stack.item>

          <PolarisButtonGroup as |buttonGroup|>
            {{#each @headerActions as |headerAction|}}
              <buttonGroup.item @plain={{true}}>
                <PolarisButton
                  @plain={{true}}
                  @text={{headerAction.text}}
                  @disabled={{headerAction.disabled}}
                  @onClick={{action headerAction.onAction}}
                />
              </buttonGroup.item>
            {{/each}}
          </PolarisButtonGroup>
        </PolarisStack>
      </div>
    {{else}}
      <div class="Polaris-Card__Header">
        {{#if (is-component-definition @title)}}
          {{render-content @title}}
        {{else}}
          <PolarisHeading @text={{@title}} />
        {{/if}}
      </div>
    {{/if}}
  {{/if}}

  {{#let (component "polaris-card/section") as |Section|}}
    {{#if @sectioned}}
      <Section>
        {{#if hasBlock}}
          {{yield (hash section=Section Section=Section)}}
        {{else}}
          {{text}}
        {{/if}}
      </Section>
    {{else if hasBlock}}
      {{yield (hash section=Section Section=Section)}}
    {{else}}
      {{text}}
    {{/if}}
  {{/let}}

  {{#if (or @primaryFooterAction @secondaryFooterAction)}}
    <div class="Polaris-Card__Footer">
      <PolarisButtonGroup as |buttonGroup|>
        {{#if @secondaryFooterAction}}
          <buttonGroup.item>
            <PolarisButton
              @dataTestId="secondaryFooterAction"
              @text={{@secondaryFooterAction.text}}
              @disabled={{@secondaryFooterAction.disabled}}
              @loading={{@secondaryFooterAction.loading}}
              @onClick={{action @secondaryFooterAction.onAction}}
            />
          </buttonGroup.item>
        {{/if}}

        {{#if @primaryFooterAction}}
          <buttonGroup.item>
            <PolarisButton
              @dataTestId="primaryFooterAction"
              @primary={{true}}
              @text={{@primaryFooterAction.text}}
              @disabled={{@primaryFooterAction.disabled}}
              @loading={{@primaryFooterAction.loading}}
              @onClick={{action @primaryFooterAction.onAction}}
            />
          </buttonGroup.item>
        {{/if}}
      </PolarisButtonGroup>
    </div>
  {{/if}}
</div>
