{{#if url}}
  <PolarisUnstyledLink
    class={{linkClass}}
    @url={{url}}
    @external={{external}}
    @onClick={{action onClick}}
  >
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{text}}
    {{/if}}
  </PolarisUnstyledLink>
{{else}}
  <button
    type="button"
    class={{linkClass}}
    {{action (action onClick) bubbles=false}}
  >
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{text}}
    {{/if}}
  </button>
{{/if}}
