{{#component buttonComponentName
  class=class
  url=url
  external=external
  primary=primary
  destructive=destructive
  disabled=disabled
  size=size
  outline=outline
  fullWidth=fullWidth
  submit=submit
  plain=plain
  accessibilityLabel=accessibilityLabel
  iconOnly=iconOnly
  onClick=onClick
  onFocus=onFocus
  onBlur=onBlur
  mouseUp=handleMouseUpByBlurring
}}
  <span class="Polaris-Button__Content">
    {{#if icon}}
      <span class="Polaris-Button__Icon">
        {{polaris-icon source=icon}}
      </span>
    {{/if}}

    <span>
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{text}}
      {{/if}}
    </span>

    {{#if disclosure}}
      <span class="Polaris-Button__Icon">
        {{polaris-icon source="caret-down"}}
      </span>
    {{/if}}
  </span>
{{/component}}
