<div
  class={{this.cssClasses}}
  data-test-button-group
  {{did-insert this.setupAutoWrapper}}
  {{will-destroy this.teardownAutoWrapper}}
  ...attributes
>
  {{#if (has-block)}}
    {{yield (hash item=(component "polaris-button-group/item"))}}
  {{else}}
    {{@text}}
  {{/if}}
</div>