<div
  class={{if @labelHidden "Polaris-Labelled--hidden"}}
  data-test-labelled={{this.dataTestLabelled}}
  ...attributes
>
  {{#if @label}}
    <div class="Polaris-Labelled__LabelWrapper">
      <PolarisLabel @id={{this.id}} @hidden={{false}}>
        {{@label}}
      </PolarisLabel>

      {{#if this.mainAction}}
        <PolarisButton
          @plain={{true}}
          @text={{this.mainAction.text}}
          @disabled={{this.mainAction.disabled}}
          @loading={{this.mainAction.loading}}
          @accessibilityLabel={{this.mainAction.accessibilityLabel}}
          @onClick={{this.mainAction.onAction}}
        />
      {{/if}}
    </div>
  {{/if}}

  {{yield}}

  {{#if this.shouldRenderError}}
    <div data-test-labelled-error class="Polaris-Labelled__Error">
      <PolarisInlineError @message={{@error}} @fieldID={{this.id}} />
    </div>
  {{/if}}

  {{#if @helpText}}
    <div
      data-test-label-help-text
      class="Polaris-Labelled__HelpText"
      id={{this.helpTextId}}
    >
      {{render-content @helpText}}
    </div>
  {{/if}}
</div>
