<div class={{headerClass}}>
  {{#if hasBreadcrumbs}}
    <div class="Polaris-Page__Navigation">
      <nav role="navigation">
        {{#each breadcrumbs as |breadcrumb|}}
          {{polaris-breadcrumbs/breadcrumb breadcrumb=breadcrumb}}
        {{/each}}
      </nav>
    </div>
  {{/if}}

  {{#polaris-display-text tagName="h1" size="large"}}
    {{title}}
  {{/polaris-display-text}}

  {{#if hasActions}}
    <div class="Polaris-Page__Actions">
      {{#if primaryAction}}
        <div class="Polaris-Page__PrimaryAction">
          {{polaris-button
            primary=true
            text=primaryAction.text
            disabled=primaryAction.disabled
            onClick=(action primaryAction.action)
          }}
        </div>
      {{/if}}

      {{#if secondaryActions}}
        <div class="Polaris-Page__SecondaryActions">
          {{#each secondaryActions as |secondaryAction|}}
            {{polaris-page/action action=secondaryAction}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>

<div class="Polaris-Page__Content">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
</div>
