<div
  id={{this.contentId}}
  class="Polaris-ColorPicker__AlphaPicker"
  {{did-insert this.setContentId}}
  {{will-destroy this.setContentId null}}
>
  <div class="Polaris-ColorPicker__ColorLayer" style={{this.colorLayerStyle}} />
  <PolarisColorPicker::Slidable
    @draggerX={{0}}
    @draggerY={{this.draggerY}}
    @onDraggerHeightChanged={{fn (mut this.draggerHeight)}}
    @onChange={{fn this.handleChange}}
  />
</div>
