<div
  id={{this.contentId}}
  class="Polaris-ColorPicker__HuePicker"
  {{did-insert this.setContentId}}
  {{will-destroy this.setContentId null}}
>
  <PolarisColorPicker::Slidable
    @draggerX={{0}}
    @draggerY={{this.draggerY}}
    @onDraggerHeightChanged={{action (mut this.draggerHeight)}}
    @onChange={{fn this.handleChange}}
  />
</div>
