{{!-- template-lint-disable no-invalid-interactive --}}
<div
  class="Polaris-ColorPicker__Slidable {{@class}}"
  {{on "mousedown" this.startDrag}}
  {{on "touchstart" this.startDrag}}
  {{did-insert this.setElementAndTriggerHeightChanged}}
>
  <div class="Polaris-ColorPicker__Dragger" style={{this.draggerStyle}}></div>
</div>
