<div class="Polaris-ResourceList-BulkActions__Group Polaris-ResourceList-BulkActions__Group--smallScreen">
  <div class="Polaris-ResourceList-BulkActions__ButtonGroup">
    {{polaris-resource-list/checkable-button
      accessibilityLabel=accessibilityLabel
      label=label
      selected=selected
      selectMode=selectMode
      measuring=measuring
      disabled=disabled
      onToggleAll=(action onToggleAll)
    }}

    {{#if hasActions}}
      <div class="Polaris-ResourceList-BulkActions__Popover">
        {{!-- TODO: set `active` to smallScreenPopoverVisible once implemented --}}
        {{#polaris-popover
          onClose=(action "toggleSmallScreenPopover")
          as |popover|
        }}
          {{#popover.activator}}
            {{polaris-resource-list/bulk-actions/bulk-actions-button
              content="Actions"
              onAction=(action "toggleSmallScreenPopover")
            }}
          {{/popover.activator}}

          {{#popover.content}}
            {{polaris-action-list
              items=promotedActions
              sections=actionSections
              onActionAnyItem=(action "toggleSmallScreenPopover")
            }}
          {{/popover.content}}
        {{/polaris-popover}}
      </div>
    {{/if}}

    <button
      class="Polaris-ResourceList-BulkActions__Button Polaris-ResourceList-BulkActions__Button--cancel"
      onclick={{action "setSelectMode" false}}
    >
      Cancel
    </button>
  </div>

  {{#if (or paginatedSelectAllAction (and paginatedSelectAllText paginatedSelectAllAction))}}
    <div class="Polaris-ResourceList-BulkActions__PaginatedSelectAll">
      {{#if (and paginatedSelectAllText paginatedSelectAllAction)}}
        <span aria-live="polite">{{paginatedSelectAllText}}</span>
      {{else}}
        {{paginatedSelectAllText}}
      {{/if}}

      {{#if paginatedSelectAllAction}}
        {{polaris-button}}
          plain=true
          disabled=disabled
          text=paginatedSelectAllAction.content
          onClick=(action paginatedSelectAllAction.onAction)
        }}
      {{/if}}
    </div>
  {{/if}}
</div>

<div class="Polaris-ResourceList-BulkActions__Group Polaris-ResourceList-BulkActions__Group--largeScreen {{if measuring 'Polaris-ResourceList-BulkActions__Group--largeScreen'}}">
  <div class="Polaris-ResourceList-BulkActions__ButtonGroup">
    {{polaris-resource-list/checkable-button
      accessibilityLabel=accessibilityLabel
      label=label
      selected=selected
      selectMode=selectMode
      measuring=measuring
      disabled=disabled
      onToggleAll=(action onToggleAll)
    }}

    {{#each promotedActionsToRender as |promotedAction|}}
      {{polaris-resource-list/bulk-actions/bulk-actions-button
        onAction=(action promotedAction)
        handleMeasurement=(action "handleMeasurement")
      }}
    {{/each}}

    {{#if shouldRenderActionsPopover}}
      <div class="Polaris-ResourceList-BulkActions__Popover">
        {{!-- TODO: set `active` to largeScreenPopoverVisible once implemented --}}
        {{#polaris-popover
          onClose=(action "toggleLargeScreenPopover")
          as |popover|
        }}
          {{#popover.activator}}
            {{polaris-resource-list/bulk-actions/bulk-actions-button
              content=activatorLabel
              disabled=disabled
              onAction=(action "toggleLargeScreenPopover")
            }}
          {{/popover.activator}}

          {{#popover.content}}
            {{polaris-action-list
              sections=combinedActions
              onActionAnyItem=(action "toggleLargeScreenPopover")
            }}
          {{/popover.content}}
        {{/polaris-popover}}
      </div>
    {{/if}}
  </div>
  <!-- {paginatedSelectAllMarkup} -->
</div>
