<div
  data-test-bulk-actions="true"
  class={{this.cssClasses}}
  {{did-insert this.insertBulkActions}}
  ...attributes
>
  <div class="Polaris-ResourceList-BulkActions__ButtonGroup">
    <PolarisResourceList::CheckableButton
      @accessibilityLabel={{@accessibilityLabel}}
      @label={{@label}}
      @selected={{@selected}}
      @selectMode={{@selectMode}}
      @measuring={{this.measuring}}
      @disabled={{@disabled}}
      @onToggleAll={{fn (or @onToggleAll this.onToggleAll)}}
    />

    {{#if this.hasActions}}
      <div class="Polaris-ResourceList-BulkActions__Popover">
        <PolarisPopover as |popover|>
          <popover.activator>
            <PolarisResourceList::BulkActions::BulkActionButton @content="Actions" />
          </popover.activator>

          <popover.content>
            <PolarisActionList
              @items={{@promotedActions}}
              @sections={{this.actionSections}}
              @onActionAnyItem={{action popover.close}}
            />
          </popover.content>
        </PolarisPopover>
      </div>
    {{/if}}

    <button
      class="Polaris-ResourceList-BulkActions__Button Polaris-ResourceList-BulkActions__Button--cancel"
      type="button"
      {{on "click" (fn this.setSelectMode false)}}
    >
      Cancel
    </button>
  </div>

  {{#if (or @paginatedSelectAllAction (and @paginatedSelectAllText @paginatedSelectAllAction))}}
    <div class="Polaris-ResourceList-BulkActions__PaginatedSelectAll">
      {{#if (and @paginatedSelectAllText @paginatedSelectAllAction)}}
        <span aria-live="polite">{{@paginatedSelectAllText}}</span>
      {{else}}
        {{@paginatedSelectAllText}}
      {{/if}}

      {{#if @paginatedSelectAllAction}}
        <PolarisButton
          @plain={{true}}
          @disabled={{@disabled}}
          @text={{@paginatedSelectAllAction.content}}
          @onClick={{action @paginatedSelectAllAction.onAction}}
        />
      {{/if}}
    </div>
  {{/if}}
</div>

<div
  class="Polaris-ResourceList-BulkActions__Group
    Polaris-ResourceList-BulkActions__Group--largeScreen
    {{if this.measuring "Polaris-ResourceList-BulkActions__Group--measuring"}}
    {{if @selectMode
      "Polaris-ResourceList-BulkActions__Group--entered"
      "Polaris-ResourceList-BulkActions__Group--exited"
    }}
  "
>
  <div class="Polaris-ResourceList-BulkActions__ButtonGroup">
    <PolarisResourceList::CheckableButton
      @accessibilityLabel={{@accessibilityLabel}}
      @label={{@label}}
      @selected={{@selected}}
      @selectMode={{@selectMode}}
      @measuring={{this.measuring}}
      @disabled={{@disabled}}
      @onToggleAll={{fn (or @onToggleAll this.onToggleAll)}}
    />

    {{#each this.promotedActionsToRender as |promotedAction|}}
      <PolarisResourceList::BulkActions::BulkActionButton
        @content={{promotedAction.content}}
        @onAction={{action promotedAction.onAction}}
        @handleMeasurement={{fn this.handleMeasurement}}
      />
    {{/each}}

    {{#if this.shouldRenderActionsPopover}}
      <div class="Polaris-ResourceList-BulkActions__Popover">
        <PolarisPopover as |popover|>
          {{#component (if @disabled
            (component "wrapper-element" tagName="")
            popover.activator
          )}}
            <PolarisResourceList::BulkActions::BulkActionButton
              @content={{this.activatorLabel}}
              @disabled={{@disabled}}
            />
          {{/component}}

          <popover.content>
            <PolarisActionList
              @sections={{this.combinedActions}}
              @onActionAnyItem={{action popover.close}}
            />
          </popover.content>
        </PolarisPopover>
      </div>
    {{/if}}
  </div>

  {{#if (or
    @paginatedSelectAllAction
    (and @paginatedSelectAllText @paginatedSelectAllAction)
  )}}
    <div class="Polaris-ResourceList-BulkActions__PaginatedSelectAll">
      {{#if (and @paginatedSelectAllText @paginatedSelectAllAction)}}
        <span aria-live="polite">{{@paginatedSelectAllText}}</span>
      {{else}}
        {{@paginatedSelectAllText}}
      {{/if}}

      {{#if @paginatedSelectAllAction}}
        <PolarisButton
          @plain={{true}}
          @disabled={{@disabled}}
          @text={{@paginatedSelectAllAction.content}}
          @onClick={{action @paginatedSelectAllAction.onAction}}
        />
      {{/if}}
    </div>
  {{/if}}
</div>
