{{!-- template-lint-disable no-invalid-interactive --}}
<div
  {{on "click" (fn (or @onToggleAll this.onToggleAll))}}
  class="Polaris-ResourceList-CheckableButton
    {{if this.plain "Polaris-ResourceList-CheckableButton__CheckableButton--plain"}}
    {{if this.shouldApplySelectModeClass "Polaris-ResourceList-CheckableButton__CheckableButton--selectMode"}}
    {{if this.shouldApplySelectedClass "Polaris-ResourceList-CheckableButton__CheckableButton--selected"}}
    {{if this.shouldApplyMeasuringClass "Polaris-ResourceList-CheckableButton__CheckableButton--measuring"}}
  "
  ...attributes
>
  <div class="Polaris-ResourceList-CheckableButton__Checkbox">
    <PolarisCheckbox
      @labelHidden={{true}}
      @label={{@accessibilityLabel}}
      @checked={{@selected}}
      @disabled={{@disabled}}
    />
  </div>
  <span class="Polaris-ResourceList-CheckableButton__Label">{{@label}}</span>
</div>
