<PolarisFormLayout>
  <PolarisTextField
    @labelHidden={{true}}
    @connectedLeft={{if @filters
      (component "polaris-resource-list/filter-control/filter-creator"
        resourceName=this.context.resourceName
        filters=@filters
        disabled=this.context.selectMode
        onAddFilter=(fn this.handleAddFilter)
      )
    }}
    @connectedRight={{this.additionalActionButton}}
    @label={{this.textFieldLabel}}
    @placeholder={{this.textFieldLabel}}
    @prefix={{component "polaris-icon" source="search" color="skyDark"}}
    @value={{@searchValue}}
    @focused={{@focused}}
    @disabled={{this.context.selectMode}}
    @onChange={{fn (or @onSearchChange this.onSearchChange)}}
    @onBlur={{fn (or @onSearchBlur this.onSearchBlur)}}
  />

  {{#if @appliedFilters}}
    <ul class="Polaris-ResourceList-FilterControl__AppliedFilters">
      {{#each this.appliedFiltersForRender as |appliedFilterForRender|}}
        <li class="Polaris-ResourceList-FilterControl__AppliedFilter">
          <PolarisTag
            @text={{appliedFilterForRender.label}}
            @disabled={{this.context.selectMode}}
            @onRemove={{fn this.handleRemoveFilter appliedFilterForRender}}
          />
        </li>
      {{/each}}
    </ul>
  {{/if}}
</PolarisFormLayout>
