{{#with (if loading "-1" "0") as |tabIndex|}}
  {{#if url}}
    {{polaris-unstyled-link
      class="Polaris-ResourceList-Item__Link"
      ariaDescribedBy=itemId
      ariaLabel=accessibilityLabel
      url=url
      focusIn=(action handleAnchorFocus)
      focusOut=(action handleFocusedBlur)
      tabIndex=tabIndex
    }}
  {{else}}
    {{wrapper-element
      tagName="button"
      class="Polaris-ResourceList-Item__Button"
      aria-label=accessibilityLabel
      aria-controls=ariaControls
      aria-expanded=ariaExpanded
      click=(action handleClick)
      focusIn=(action handleAnchorFocus)
      focusOut=(action handleFocusedBlur)
      tabIndex=tabIndex
    }}
  {{/if}}
{{/with}}

<div
  data-test-id="item-content"
  class="Polaris-ResourceList-Item__Container"
  id={{itemId}}
>
  {{#if (or media selectable)}}
    <div class="Polaris-ResourceList-Item__Owned">
      {{#if selectable}}
        {{#wrapper-element
          tagName="div"
          class="Polaris-ResourceList-Item__Handle"
          data-test-id="larger-selection-area"
          click=(action handleLargerSelectionArea)
        }}
          {{#wrapper-element
            tagName="div"
            class="Polaris-ResourceList-Item__CheckboxWrapper"
            click=(action stopPropagation)
          }}
            {{polaris-checkbox
              id=checkboxId
              label=label
              labelHidden=true
              checked=isSelected
              disabled=loading
              onChange=(action handleSelection)
            }}
          {{/wrapper-element}}
        {{/wrapper-element}}
      {{/if}}

      {{#if media}}
        <div class="Polaris-ResourceList-Item__Media" data-test-id="media">
          {{render-content media}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if (or hasBlock children)}}
    <div class="Polaris-ResourceList-Item__Content">
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{render-content children}}
      {{/if}}
    </div>
  {{/if}}

  {{#if (and shortcutActions (not loading))}}
    {{#wrapper-element
      tagName="div"
      class="Polaris-ResourceList-Item__Actions"
      click=(action stopPropagation)
    }}
      {{#polaris-button-group
        segmented=(not persistActions)
        data-test-id=(unless persistActions "shortcut-actions")
        as |buttonGroup|
      }}
        {{#each shortcutActions as |shortcutAction|}}
          {{#buttonGroup.item}}
            {{polaris-button
              size="slim"
              plain=persistActions
              text=shortcutAction.text
              accessibilityLabel=shortcutAction.accessibilityLabel
              url=shortcutAction.url
              external=shortcutAction.external
              destructive=shortcutAction.destructive
              icon=shortcutAction.icon
              loading=shortcutAction.loading
              onClick=(action
                (or shortcutAction.onAction (action (mut dummy)))
              )
            }}
          {{/buttonGroup.item}}
        {{/each}}
      {{/polaris-button-group}}
    {{/wrapper-element}}

    {{#if persistActions}}
      {{#wrapper-element
        tagName="div"
        class="Polaris-ResourceList-Item__Disclosure"
        click=(action stopPropagation)
      }}
        {{#polaris-popover
          as |popover|
        }}
          {{#popover.activator}}
            {{!--
              Possible mistake in the Polaris source here as
              `Button` doesn't seem to support `aria-label`.
              Matching what they do for now, and if they fix
              it we can update ;)
            --}}
            {{polaris-button
              aria-label="Actions dropdown"
              plain=true
              icon="horizontal-dots"
              onClick=(action popover.toggle)
            }}
          {{/popover.activator}}

          {{#popover.content}}
            {{polaris-action-list items=shortcutActions}}
          {{/popover.content}}
        {{/polaris-popover}}
      {{/wrapper-element}}
    {{/if}}
  {{/if}}
</div>
