{{#polaris-text-container}}
  {{polaris-display-text size="medium" text=heading}}
  <div class="Polaris-EmptyState__Content">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{text}}
    {{/if}}
  </div>
{{/polaris-text-container}}

{{#if action}}
  <div class="Polaris-EmptyState__Actions">
    {{#polaris-stack alignment="center" as |stack|}}
      {{polaris-button
        primary=true
        size="large"
        text=action.text
        onClick=(action action.onAction)
      }}

      {{#if secondaryAction}}
        {{#stack.item}}
          {{polaris-button
            plain=true
            text=secondaryAction.text
            onClick=(action secondaryAction.onAction)
          }}
        {{/stack.item}}
      {{/if}}
    {{/polaris-stack}}
  </div>
{{/if}}
