<div
  class="Polaris-EmptyState__Details {{@class}}"
  data-test-empty-state-details
  ...attributes
>
  <PolarisTextContainer>
    <PolarisDisplayText data-test-empty-state-heading @size="medium" @text={{@heading}} />
    <div data-test-empty-state-content class="Polaris-EmptyState__Content">
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{@text}}
      {{/if}}
    </div>
  </PolarisTextContainer>

  {{#if @action}}
    <div class="Polaris-EmptyState__Actions">
      <PolarisStack
        data-test-empty-state-actions={{true}}
        @alignment="center"
        as |stack|
      >
        <PolarisButton
          @primary={{true}}
          @size="large"
          @text={{@action.text}}
          @onClick={{@action.onAction}}
        />

        {{#if @secondaryAction}}
          <stack.item>
            <PolarisButton
              @plain={{true}}
              @text={{@secondaryAction.text}}
              @onClick={{@secondaryAction.onAction}}
            />
          </stack.item>
        {{/if}}
      </PolarisStack>
    </div>
  {{/if}}
</div>
