<div class="Polaris-Header-ActionGroup {{@class}}" ...attributes>
  <PolarisPopover as |popover|>
    <popover.activator>
      <PolarisPage::Action
        @disclosure={{true}}
        @icon={{@icon}}
        @text={{@title}}
        @onAction={{action popover.toggle}}
      />
    </popover.activator>

    <popover.content>
      <PolarisActionList
        @items={{@groupActions}}
        @onActionAnyItem={{action popover.close}}
      />

      {{#if @details}}
        <div class="Polaris-Header-ActionGroup__Details">
          {{render-content @details}}
        </div>
      {{/if}}
    </popover.content>
  </PolarisPopover>
</div>
