<div class="Polaris-OptionList-Checkbox {{if this.active "Polaris-OptionList-Checkbox--active"}}" ...attributes>
  <input
    id={{checkboxId}}
    name={{name}}
    value={{value}}
    type="checkbox"
    checked={{checked}}
    disabled={{disabled}}
    class="Polaris-OptionList-Checkbox__Input"
    aria-checked={{checked}}
    onchange={{action onChange}}
    role={{role}}
  >
  <div class="Polaris-OptionList-Checkbox__Backdrop"></div>
  <div class="Polaris-OptionList-Checkbox__Icon">
    <PolarisIcon @source="checkmark" />
  </div>
  
</div>