<input
  id={{checkboxId}}
  name={{name}}
  value={{value}}
  type="checkbox"
  checked={{checked}}
  disabled={{disabled}}
  class="Polaris-OptionList-Checkbox__Input"
  aria-checked={{checked}}
  onchange={{action onChange}}
  role={{role}}
>
<div class="Polaris-OptionList-Checkbox__Backdrop"></div>
<div class="Polaris-OptionList-Checkbox__Icon">
  {{polaris-icon source="checkmark"}}
</div>
