<li
  tabIndex={{this.tabIndex}}
  aria-selected={{@active}}
  role={{@role}}
  class="Polaris-OptionList-Option {{@class}}"
  ...attributes
>
  {{!-- TODO: add Scrollable.ScrollTo here when available --}}

  {{#if @allowMultiple}}
    <label
      htmlFor={{@optionId}}
      class="
        Polaris-OptionList-Option__Label
        {{if @active "Polaris-OptionList-Option--active"}}
      "
    >
      <div class="Polaris-OptionList-Option__Checkbox">
        <PolarisOptionList::Checkbox
          @checkboxId={{@optionId}}
          @value={{@value}}
          @checked={{@select}}
          @active={{@active}}
          @disabled={{@disabled}}
          @onChange={{fn this.handleClick}}
          @role={{if (eq @role "option") "presentation"}}
        />
      </div>

      {{#if @media}}
        <div class="Polaris-OptionList-Option__Media">{{render-content @media}}</div>
      {{/if}}

      {{render-content @label}}
    </label>
  {{else}}
    <button
      id={{@optionId}}
      type="button"
      class="
        Polaris-OptionList-Option__SingleSelectOption
        {{if this.focused "Polaris-OptionList-Option--focused"}}
        {{if @disabled "Polaris-OptionList-Option--disabled"}}
        {{if @select "Polaris-OptionList-Option--select"}}
        {{if @active "Polaris-OptionList-Option--active"}}
      "
      disabled={{@disabled}}
      {{on "click" this.handleClick}}
      {{on "focus" this.toggleFocus}}
      {{on "blur" this.toggleFocus}}
    >
      {{#if @media}}
        <div class="Polaris-OptionList-Option__Media">{{render-content @media}}</div>
      {{/if}}

      {{render-content @label}}
    </button>
  {{/if}}
</li>
