{{#if (or header fixed)}}
  {{#if header}}
    <th
      {{!-- template-lint-disable --}}
      data-test-data-table-cell
      data-test-data-table-cell-header
      data-test-data-table-cell-sorted="{{sorted}}"
      scope="col"
      class={{cellClassNames}}
      aria-sort={{sortDirection}}
      style={{style}}
    >
      {{#if sortable}}
        <button
          data-test-data-table-cell-sortable
          class={{headerClassNames}}
          onclick={{action onSort}}
        >
          <span class="Polaris-DataTable__Icon">
            {{polaris-icon
              source=source
              accessibilityLabel=sortAccessibilityLabel
            }}
          </span>

          {{render-content text}}
        </button>
      {{else}}
        {{render-content text}}
      {{/if}}
    </th>
  {{else}}
    <th
      data-test-data-table-cell
      scope="row"
      class={{cellClassNames}}
      style={{style}}
    >
      {{render-content text}}
    </th>
  {{/if}}
{{else}}
  <td
    {{!-- template-lint-disable --}}
    data-test-data-table-cell
    data-test-data-table-cell-footer="{{footer}}"
    class={{cellClassNames}}
    style={{style}}
  >
    {{render-content text}}
  </td>
{{/if}}
