{{#if presentational}}
  {{#if header}}
    <th aria-hidden="true" role="presentation" class={{cellClassNames}} style={{style}}></th>
  {{else}}
    <td aria-hidden="true" role="presentation" class={{cellClassNames}} style={{style}}></td>
  {{/if}}
{{else}}
  {{#if (or header fixed)}}
    {{#if header}}
      {{#if sortable}}
        <th
          scope="col"
          class={{cellClassNames}}
          style={{style}}
          role="button"
          aria-sort={{sortDirection}}
          aria-label={{sortAccessibilityLabel}}
          tabindex="0"
          {{action onSort}}
          onkeydown={{action "onKeyDown"}}
        >
          {{#if (eq contentType "text")}}
            <span class="Polaris-DataTable__Heading {{if (eq contentType "text") "Polaris-DataTable__Heading--left"}}">
              {{#if hasContentComponent}}
                {{component text}}
              {{else}}
                {{text}}
              {{/if}}
              <span class="Polaris-DataTable__Heading--sortable">
                {{#unless sorted}}
                  {{polaris-icon source=sortIconSource}}
                {{/unless}}
              </span>
              <span>
                {{#if sorted}}
                  {{polaris-icon source=sortIconSource}}
                {{/if}}
              </span>
            </span>
          {{else}}
            <span class="Polaris-DataTable__Heading {{if (eq contentType "text") "Polaris-DataTable__Heading--left"}}">
              <span class="Polaris-DataTable__Heading--sortable">
                {{#unless sorted}}
                  {{polaris-icon source=sortIconSource}}
                {{/unless}}
              </span>
              <span>
                {{#if sorted}}
                  {{polaris-icon source=sortIconSource}}
                {{/if}}
              </span>
              {{#if hasContentComponent}}
                {{component text}}
              {{else}}
                {{text}}
              {{/if}}
            </span>
          {{/if}}
        </th>
      {{else}}
        <th
          scope="col"
          class={{cellClassNames}}
          style={{style}}
          aria-disabled="true"
        >
          {{#if hasContentComponent}}
            {{component text}}
          {{else}}
            {{text}}
          {{/if}}
        </th>
      {{/if}}
    {{else}}
      <th class={{cellClassNames}} scope="row" style={{style}}>
        {{#if hasContentComponent}}
          {{component text}}
        {{else}}
          {{text}}
        {{/if}}
      </th>
    {{/if}}
  {{else}}
    <td class={{cellClassNames}} style={{style}}>
      {{#if hasContentComponent}}
        {{component text}}
      {{else}}
        {{text}}
      {{/if}}
    </td>
  {{/if}}
{{/if}}
