{{#if (or header fixed)}}
  {{#if header}}
    <th
      data-polaris-header-cell="true"
      scope="col"
      class={{cellClassNames}}
      aria-sort={{sortDirection}}
      style={{style}}
    >
      {{#if sortable}}
        <button
          class={{headerClassNames}}
          onclick={{action onSort}}
        >
          <span class="Polaris-DataTable__Icon">
            {{polaris-icon
              source=source
              accessibilityLabel=sortAccessibilityLabel
            }}
          </span>

          {{render-content text}}
        </button>
      {{else}}
        {{render-content text}}
      {{/if}}
    </th>
  {{else}}
    <th
      scope="row"
      class={{cellClassNames}}
      style={{style}}
    >
      {{render-content text}}
    </th>
  {{/if}}
{{else}}
  <td
    class={{cellClassNames}}
    style={{style}}
  >
    {{render-content text}}
  </td>
{{/if}}
