{{#if (or @header @fixed)}}
  {{#if @header}}
    <th
      data-polaris-header-cell="true"
      scope="col"
      class={{this.cellClassNames}}
      aria-sort={{@sortDirection}}
      style={{this.style}}
    >
      {{#if sortable}}
        <button
          type="button"
          class={{this.headerClassNames}}
          onclick={{fn this.onSort}}
        >
          <span class="Polaris-DataTable__Icon">
            <PolarisIcon
              @source={{this.source}}
              @accessibilityLabel={{this.sortAccessibilityLabel}}
            />
          </span>

          {{render-content @text}}
        </button>
      {{else}}
        {{render-content @text}}
      {{/if}}
    </th>
  {{else}}
    <th
      scope="row"
      class={{this.cellClassNames}}
      style={{this.style}}
    >
      {{render-content @text}}
    </th>
  {{/if}}
{{else}}
  <td
    class={{this.cellClassNames}}
    style={{this.style}}
  >
    {{render-content @text}}
  </td>
{{/if}}
