<div class="Polaris-DataTable__Navigation {{@class}}" ...attributes>
  <PolarisButton
    @plain={{true}}
    @icon="chevron-left"
    @disabled={{@isScrolledFarthestLeft}}
    @accessibilityLabel="Scroll table left one column"
    @onClick={{fn this.navigateTableLeft}}
  />

  {{#each @columnVisibilityData as |column|}}
    <div class="Polaris-DataTable__Pip {{if column.isVisible "Polaris-DataTable__Pip--visible"}}"></div>
  {{/each}}

  <PolarisButton
    @plain={{true}}
    @icon="chevron-right"
    @disabled={{@isScrolledFarthestRight}}
    @accessibilityLabel="Scroll table right one column"
    @onClick={{fn this.navigateTableRight}}
  />
</div>
