<div class="Polaris-DataTable__Navigation" ...attributes>
  <PolarisButton
    @plain={{true}}
    @icon="chevron-left"
    @disabled={{isScrolledFarthestLeft}}
    @accessibilityLabel="Scroll table left one column"
    @onClick={{action navigateTableLeft}}
  />

  {{#each columnVisibilityData as |column|}}
    <div class="Polaris-DataTable__Pip {{if column.isVisible "Polaris-DataTable__Pip--visible"}}"></div>
  {{/each}}

  <PolarisButton
    @plain={{true}}
    @icon="chevron-right"
    @disabled={{isScrolledFarthestRight}}
    @accessibilityLabel="Scroll table right one column"
    @onClick={{action navigateTableRight}}
  />
</div>
