{{!-- TODO: support url --}}
{{#if (or icon disclosure)}}
  <span class="Polaris-Header-Action__ActionContent">
    {{#if icon}}
      {{polaris-page/action-icon icon=icon}}
    {{/if}}

    <span>{{text}}</span>

    {{#if disclosure}}
      {{polaris-page/action-icon icon="caret-down"}}
    {{/if}}
  </span>
{{else}}
  {{text}}
{{/if}}
