{{! TODO: support url }}
<button
  class={{this.classes}}
  aria-label={{@accessibilityLabel}}
  disabled={{@disabled}}
  type={{this.type}}
  {{on "click" this.onAction}}
  {{on "mouseup" this.handleMouseUpByBlurring}}
>
  {{#if (or @icon @disclosure)}}
    <span class="Polaris-Header-Action__ActionContent">
      {{#if @icon}}
        <PolarisPage::ActionIcon @icon={{@icon}} />
      {{/if}}

      <span>{{@text}}</span>

      {{#if @disclosure}}
        <PolarisPage::ActionIcon @icon="caret-down" />
      {{/if}}
    </span>
  {{else}}
    {{@text}}
  {{/if}}
</button>
