{{! TODO: support url }}
<button
  type="button"
  class={{this.cssClasses}}
  aria-label={{@accessibilityLabel}}
  disabled={{@disabled}}
  {{on "click" (stop-propagation this.handleClick)}}
  {{on "mouseup" this.handleMouseUpByBlurring}}
  ...attributes
>
  {{#if (or @icon @disclosure)}}
    <span class="Polaris-Header-Action__ActionContent">
      {{#if @icon}}
        <PolarisPage::ActionIcon @icon={{@icon}} />
      {{/if}}

      <span>{{@text}}</span>

      {{#if @disclosure}}
        <PolarisPage::ActionIcon @icon="caret-down" />
      {{/if}}
    </span>
  {{else}}
    {{@text}}
  {{/if}}
</button>
