<div
  class="Polaris-Page-Header
    {{if @titleHidden "Polaris-Page-Header__Title--hidden"}}
    {{if @separator "Polaris-Page-Header__Header--hasSeparator"}}
    {{if this.hasBreadcrumbs "Polaris-Page-Header__Header--hasBreadcrumbs"}}
    {{if
      this.hasSecondaryActions
      "Polaris-Page-Header__Header--hasSecondaryActions"
    }}
    {{if this.hasRollup "Polaris-Page-Header__Header--hasRollup"}}"
>
  {{#let
    (component
      "polaris-page/header/rollup"
      hasRollup=this.hasRollup
      secondaryActions=@secondaryActions
      actionGroupSections=this.actionGroupsAsActionListSections
    )
    (element (if @primaryAction "div" ""))
    (element (if @primaryAction "div" ""))
    (if @primaryAction
      (component
        "polaris-button"
        primary=this.shouldRenderPrimaryActionAsPrimary
        text=@primaryAction.text
        disabled=@primaryAction.disabled
        loading=@primaryAction.loading
        destructive=@primaryAction.destructive
      )
      (component "wrapper-element" tagName="")
    )
    as |Rollup MainContent TitleAndActions PrimaryActionButton|
  }}
    {{#if this.hasNavigation}}
      <div class="Polaris-Page-Header__Navigation">
        {{#if @breadcrumbs}}
          <PolarisBreadcrumbs @breadcrumbs={{@breadcrumbs}} />
          <Rollup />
        {{/if}}
      </div>
    {{/if}}

    {{! Add a "main content" div if we have a primary action. }}
    <MainContent class="Polaris-Page-Header__MainContent">
      {{! Add a "title and actions" wrapper div if we have a primary action. }}
      <TitleAndActions class="Polaris-Page-Header__TitleAndActions">
        <div class="Polaris-Page-Header__TitleAndRollup">
          <div class="Polaris-Page-Header__Title">
            <div>
              <PolarisDisplayText @tagName="h1" @size="large">
                {{@title}}
              </PolarisDisplayText>
            </div>

            <div>
              {{#if @titleMetadata}}
                {{render-content @titleMetadata}}
              {{/if}}
            </div>
          </div>

          {{#unless this.hasBreadcrumbs}}
            <Rollup />
          {{/unless}}
        </div>

        {{#if (or @primaryAction this.hasSecondaryActions this.hasActionGroups)}}
          <div class="Polaris-Page-Header__Actions">
            {{#if (or this.hasSecondaryActions this.hasActionGroups)}}
              <div class="Polaris-Page-Header__SecondaryActions">
                <div class="Polaris-Page-Header__IndividualActions">
                  {{#each @secondaryActions as |secondaryAction|}}
                    <div class="Polaris-Page-Header__IndividualAction">
                      <PolarisPage::Action
                        @text={{secondaryAction.text}}
                        @disclosure={{secondaryAction.disclosure}}
                        @url={{secondaryAction.url}}
                        @external={{secondaryAction.external}}
                        @icon={{secondaryAction.icon}}
                        @accessibilityLabel={{secondaryAction.accessibilityLabel
                        }}
                        @disabled={{secondaryAction.disabled}}
                        @onAction={{action secondaryAction.onAction}}
                      />
                    </div>
                  {{/each}}

                  {{#each @actionGroups as |actionGroup|}}
                    <div class="Polaris-Page-Header__IndividualAction">
                      <PolarisPage::Header::ActionGroup
                        @title={{actionGroup.title}}
                        @icon={{actionGroup.icon}}
                        @groupActions={{actionGroup.actions}}
                        @details={{actionGroup.details}}
                      />
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/if}}

            {{#if @primaryAction}}
              <div class="Polaris-Page-Header__PrimaryAction">
                <PrimaryActionButton
                  @onClick={{action @primaryAction.onAction}}
                />
              </div>
            {{/if}}
          </div>
        {{/if}}
      </TitleAndActions>

      {{#if @primaryAction}}
        {{! Primary action gets rendered twice, with one getting hidden based on media queries. }}
        <div class="Polaris-Page-Header__PrimaryAction">
          <PrimaryActionButton
            @onClick={{action @primaryAction.onAction}}
          />
        </div>
      {{/if}}
    </MainContent>
  {{/let}}
</div>
