{{polaris-color-picker
  color=color
  allowAlpha=true
  onChange=(action (mut color))
}}
<div>Hue: {{color.hue}}</div>
<div>Saturation: {{color.saturation}}</div>
<div>Brightness: {{color.brightness}}</div>
<div>Alpha: {{color.alpha}}</div>
