{{!--
  Ember port of the React test at https://codesandbox.io/s/pmonqjp3q7
--}}

<PolarisPage @title="Sticky testing">
  <PolarisLayout as |layout|>
    <layout.section>
      <PolarisCard @title="Order details" @sectioned={{true}}>
        <p>View a summary of your order.</p>
      </PolarisCard>
      <PolarisCard @title="Order details" @sectioned={{true}}>
        <p>View a summary of your order.</p>
      </PolarisCard>
      <PolarisCard @title="Order details" @sectioned={{true}}>
        <p>View a summary of your order.</p>
      </PolarisCard>
      <PolarisCard @title="Order details" @sectioned={{true}}>
        <p>View a summary of your order.</p>
      </PolarisCard>
      <PolarisCard @title="Order details" @sectioned={{true}}>
        <p>View a summary of your order.</p>
      </PolarisCard>
      <PolarisCard @title="Order details" @sectioned={{true}}>
        <p>View a summary of your order.</p>
      </PolarisCard>
      <PolarisCard @title="Order details" @sectioned={{true}}>
        <p>View a summary of your order.</p>
      </PolarisCard>
      <PolarisCard @title="Order details" @sectioned={{true}}>
        <p>View a summary of your order.</p>
      </PolarisCard>
      <PolarisCard @title="Order details" @sectioned={{true}}>
        <p>View a summary of your order.</p>
      </PolarisCard>
    </layout.section>

    <layout.section @secondary={{true}}>
      <PolarisSticky>
        <PolarisCard @title="Tags" @sectioned={{true}} @subdued={{true}}>
          <p>Add tags to your order.</p>
        </PolarisCard>
      </PolarisSticky>
    </layout.section>
  </PolarisLayout>
</PolarisPage>
