<div class="Polaris-Layout__Annotation {{@class}}" ...attributes>
  <PolarisTextContainer>
    <PolarisHeading @text={{@title}} />

    {{#if @description}}
      <div data-test-annotation-description class="Polaris-Layout__AnnotationDescription">
        {{#if this.hasStringDescription}}
          <p>
            {{@description}}
          </p>
        {{else if @description}}
          {{render-content @description}}
        {{/if}}
      </div>
    {{/if}}
  </PolarisTextContainer>
</div>
