<div class="Polaris-Layout__AnnotatedSection {{@class}}" ...attributes>
  <div class="Polaris-Layout__AnnotationWrapper">
    <PolarisLayout::Annotation @title={{@title}} @description={{@description}} />

    <PolarisLayout::AnnotationContent>
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{@text}}
      {{/if}}
    </PolarisLayout::AnnotationContent>
  </div>
</div>
