{{#if @contentComponent}}
  <@contentComponent class="Polaris-PositionedOverlay">
    <div
      data-polaris-overlay="true"
      class="Polaris-Popover {{if @fullWidth "Polaris-Popover--fullWidth"}} "
    >
      <div class="Polaris-Popover__Tip"></div>
      <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
      <div class="Polaris-Popover__Wrapper">
        <div
          tabindex="-1"
          class="Polaris-Popover__Content {{if @fullHeight "Polaris-Popover__Content--fullHeight"}}"
        >
          <div
            class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical"
            data-polaris-scrollable="true"
          >
            {{#if @sectioned}}
              <div class="Polaris-Popover__Section">
                {{#if (has-block)}}
                  {{yield}}
                {{else}}
                  {{@text}}
                {{/if}}
              </div>
            {{else}}
              {{#if (has-block)}}
                {{yield}}
              {{else}}
                {{@text}}
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
    </div>
  </@contentComponent>
{{/if}}