{{!-- TODO: add scroll support here when `polaris-scrollable` is available. --}}

<button
  class={{itemClasses}}
  disabled={{item.disabled}}
  onclick={{action onAction}}
>
  <div class="Polaris-ActionList__Content">
    {{#if item.icon}}
      <div class="Polaris-ActionList__Image">
        {{polaris-icon source=item.icon}}
      </div>
    {{else if item.image}}
      <div
        role="presentation"
        class="Polaris-ActionList__Image"
        style={{imageBackgroundStyle}}
      >
      </div>
    {{/if}}

    <div class="Polaris-ActionList__Text">
      {{#if item.helpText}}
        <div>
          <div>{{item.text}}</div>
          {{polaris-text-style variation="subdued" text=item.helpText}}
        </div>
      {{else}}
        {{item.text}}
      {{/if}}
    </div>
  </div>
</button>
