<button
  class="Polaris-ActionList__Item"
  disabled={{item.disabled}}
  onclick={{action onAction}}
>
  <div class="Polaris-ActionList__Content">
    {{#if item.icon}}
      <div class="Polaris-ActionList__Image">
        {{polaris-icon source=item.icon}}
      </div>
    {{else if item.image}}
      <div
        role="presentation"
        class="Polaris-ActionList__Image"
        style={{imageBackgroundStyle}}
      >
      </div>
    {{/if}}

    <div class="Polaris-ActionList__Text">
      {{item.text}}
    </div>
  </div>
</button>
