{{!-- TODO: add scroll support here when `polaris-scrollable` is available. --}}
<li role={{@role}} aria-selected={{this.active}}>
  <button
    class={{this.itemClasses}}
    disabled={{this.disabled}}
    {{on "click" this.onAction}}
  >
    <div class="Polaris-ActionList__Content">
      {{#if @icon}}
        <div class="Polaris-ActionList__Image">
          <PolarisIcon @source={{@icon}} />
        </div>
      {{else if @image}}
        <div
          role="presentation"
          class="Polaris-ActionList__Image"
          style={{this.imageBackgroundStyle}}
        >
        </div>
      {{/if}}

      <div class="Polaris-ActionList__Text">
        {{#if @helpText}}
          <div>
            <div>{{@text}}</div>
            <PolarisTextStyle @variation="subdued" @text={{@helpText}} />
          </div>
        {{else}}
          {{@text}}
        {{/if}}
      </div>
    </div>
  </button>
</li>
