<button
  class="Polaris-ActionList__Item"
  disabled={{item.disabled}}
  onclick={{action onAction item}}
>
  {{#if item.icon}}
    <div class="Polaris-ActionList__Content">
      {{polaris-action-list/image icon=item.icon}}

      <div class="Polaris-ActionList__Text">
        {{item.content}}
      </div>
    </div>
  {{else}}
    {{item.content}}
  {{/if}}
</button>
