{{#let (element (if @hasMultipleSections "li" "")) as |ActionListSection|}}
  <ActionListSection
    class={{if hasMultipleSections "Polaris-ActionList__Section" ""}}
  >
    <div class={{unless @section.title "Polaris-ActionList__Section--withoutTitle"}}>
      {{#if @section.title}}
        <p class="Polaris-ActionList__Title">
          {{@section.title}}
        </p>
      {{/if}}

      <ul
        class="Polaris-ActionList__Actions"
        role={{this.sectionRole}}
      >
        {{#each @section.items as |item|}}
          <PolarisActionList::Item
            @text={{item.text}}
            @helpText={{item.helpText}}
            @url={{item.url}}
            @destructive={{item.destructive}}
            @disabled={{item.disabled}}
            @icon={{item.icon}}
            @image={{item.image}}
            @ellipsis={{item.ellipsis}}
            @active={{item.active}}
            @role={{@actionRole}}
            @badge={{item.badge}}
            @onAction={{fn this.onItemAction item}}
          />
        {{/each}}
      </ul>
    </div>
  </ActionListSection>
{{/let}}
